@import "../core/widget.component";
@import "../utils/utils";

.v-dropdown-icon {
  @extend %v-control;
  @include user-select(none);

  cursor: pointer;
  vertical-align: bottom;
  margin-left: -0.3rem;
  overflow: hidden;
  outline: none;
}
