@import "../core/widget";
@import "../utils/utils";
@import "../../theme/base";

.#{$ave-prefix}-dropdown {
  @include user-select(none);
  cursor: pointer;
  display: inline-block;
  position: static;
}
.#{$ave-prefix}-dropdown {
  .#{$ave-prefix}-dropdown-group {
    margin-left: -0.3rem;
  }
  .#{$ave-prefix}-dropdown-group:first-of-type {
    margin-left: 0;
  }
}
