@import "../../styles/core/variables";


:host {
  display: flex;
  min-height: 2em;
  height: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
  cursor: pointer;
  background-color: $item-background-color;
  color: $item-color;
}
:host:hover {
  background-color: $item-hover-background-color;
}
