@import "../core/widget.component";
@import "../utils/utils";

.v-dropdown-header {
  @extend %v-control;
  @include user-select(none);
  cursor: pointer;
  overflow: hidden;
  vertical-align: bottom;
  border-right: solid #bdbdbd 1px;
}
