@import "../core/widget";
@import "../utils/utils";

.v-dropdown {
  @include user-select(none);
  cursor: pointer;
  display: inline-block;
  position: static;
}
.v-dropdown {
  .v-dropdown-group {
    margin-left: -0.3rem;
  }
  .v-dropdown-group:first-of-type {
    margin-left: 0;
  }
}
