@import "../../theme/widget";
@import "../../theme/utils";
@import "../../theme/base";

.#{$ave-prefix}-dropdown-icon {
  @extend %v-control;
  @include user-select(none);

  cursor: pointer;
  vertical-align: bottom;
  margin-left: -0.3rem;
  overflow: hidden;
  outline: none;
}
