@import "../core/widget.component";
@import "../utils/utils";

.v-dropdown {
  //@extend %v-control;
  @include user-select(none);
  cursor: pointer;
  display: block;
  float: left;
}
.v-dropdown {
  .v-dropdown-group {
    margin-left: -0.3rem;
  }
  .v-dropdown-group:first-of-type {
    margin-left: 0;
  }
}
