@import "variables";

%v-control {
  display: inline-flex;
  padding: $control-padding;
  overflow: hidden;
}

%v-container {
  display: flex;
}

%v-link {
  display: inline-flex;
}



@mixin ave-truncate-line() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
