@import "../../core/container";

%v-panelbar-base {
  @extend %v-container;
  flex-flow: column;
  justify-content: flex-start;
}

%v-panelbar-item-base {
  @extend %v-container;
  flex-flow: column;
  justify-content: flex-start;
  border: solid;
  border-width: 1px;
  border-radius: 1px;
  border-color: #bdbdbd;
}
