@import "../../core/container";

%v-panelbar-base {
  @extend %v-container;
  flex-flow: column;
  justify-content: flex-start;
  overflow: auto;

  //outline: solid;
  //outline-width: 1px;
  //outline-color: #bdbdbd;
}



.v-panelbar {
  @extend %v-panelbar-base;
  .v-panelbar-item {
    outline-bottom: solid;
    outline-width: 1px;
    outline-color: #bdbdbd;
  }
  .v-panelbar-item:last-of-type {
    outline-bottom: none;
  }
}

