@import "../../variables";

div {
  display: flex;
  background-color: $panel-background-color;
  color: $panel-color;
  width: 100%;
  border-bottom-color: #ffffff;
  border-bottom-style: outset;
  border-bottom-width: 3px;
}
:host {
  display: flex;
  overflow: auto;
}
