@import "../../variables";

:host {
  padding-top: 0.2em;
  padding-bottom: 0;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin: 0;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: $tabstrip-bar-background-color;
  color: $tabstrip-bar-color;
  height: 3em;
  width: 100%;
}
