@import "../core/widget";
@import "../utils/utils";

.v-tabstrip-tab {
  @extend %v-control;
  @include user-select(none);
  vertical-align: bottom;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
