@import "../../styles/theme/default/base";

:host {
  display: flex;
  overflow: hidden;
  background-color: $panel-background-color;
  color: $panel-color;
  border-bottom-color: #ffffff;
  border-bottom-style: outset;
  border-bottom-width: 3px;
}
