@import "../core/widget.component";
@import "../utils/utils";

.v-tabstrip-tab {
  @extend %v-control;
  @include user-select(none);
  vertical-align: middle;
  cursor: pointer;
  overflow: hidden;
}
