@import "../core/widget.component";

%v-panelbar-item-base {
  @extend %v-container;
  flex-flow: column;
  justify-content: flex-start;

}
.v-panelbar-item {
  @extend %v-panelbar-item-base;
  background-color: #ffffff;
  color: #000000;
}
