@import "../../theme/widget";
@import "../../theme/base";

.#{$ave-prefix}-panelbar-header {
  @extend %v-container;

  box-sizing: border-box;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  border-bottom: black solid 1px;
  .#{$ave-prefix}-arcylic-content {
    .#{$ave-prefix}-icon {
      position: absolute;
      right: 0;
    }
  }
}
