@import "../core/widget.component";

.v-panelbar {
  @extend %v-container;

  background-color: transparent;
  color: transparent;

  box-sizing: border-box;
  width: 100%;
  outline: grey solid 2px;
}
