@import "../core/widget.component";
@import "../animation/base";

.v-panelbar-page {
  @extend %v-container;

  color: transparent;
  background-color: transparent;
  padding: 0;
  .motion {
    //animation-name: expand-down;
    //animation-duration: 5s;
    //animation-timing-function: cubic-bezier(0,0,0.2,1);
    //animation-delay: 0s;
    //animation-iteration-count: 1;
    //animation-direction: alternate;
    //animation-play-state: running;
    //animation-fill-mode: forwards;
  }
}
