@import "../core/widget.component";
@import "../animation/base";

.v-panelbar-item {
  @extend %v-container;
  flex-flow: column;
  justify-content: flex-start;

  background-color: transparent;
  color: transparent;
  overflow: hidden;
}
