@import "../core/widget.component";

.v-panelbar-header {
  @extend %v-container;

  box-sizing: border-box;
  overflow: hidden;
  border-bottom: black solid 1px;
  .v-arcylic-content {
    .v-icon {
      position: absolute;
      right: 0;
    }
  }
}
