@import "../core/widget.component";

.v-panelbar {
  @extend %v-container;

  background-color: transparent;
  color: transparent;

  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  flex-flow: column;
  width: 100%;
  outline: none;
}
