%v-container {
  display: block;
  position: relative;
}
%v-control {
  display: inline-block;
  position: relative;
}

%v-link {
  display: inline-block;
  position: relative;
}

%v-acrylic {
  display: block;

}
