%v-container {
  display: block;
  position: relative;
  line-height: 1;
}
%v-control {
  display: inline-block;
  position: relative;
}

%v-popover {
  display: block;
  position: absolute;
}

%v-acrylic {
  display: block;
}
