%v-container {
  display: block;
  position: relative;
}
%v-control {
  display: inline-block;
  position: relative;
}

%v-popover {
  display: block;
  position: absolute;
}

%v-acrylic {
  display: block;
}
$key-light-color: #f5f5f5;
