<kendo-panelbar>
  <kendo-panelbar-item title="My Teammates">
    <template kendoPanelBarContent>
      <li>Tabstrip</li>
    </template>
  </kendo-panelbar-item>
  <kendo-panelbar-item title="My Teammates">
    <template kendoPanelBarContent>
      <li>Tabstrip</li>
    </template>
  </kendo-panelbar-item>
  <kendo-panelbar-item title="My Teammates">
    <template kendoPanelBarContent>
      <li>Tabstrip</li>
    </template>
  </kendo-panelbar-item>
  <kendo-panelbar-item title="My Teammates">
    <template kendoPanelBarContent>
      <li>Tabstrip</li>
    </template>
  </kendo-panelbar-item>
</kendo-panelbar>
