<section>
  <h1>Elevation & shadows </h1>
  <h1>高度和阴影 </h1>
  <h3>Objects in material design possess similar qualities to objects in the physical world. </h3>
  <h3>Material design中的对象拥有与物理世界中对象相似的属性。</h3>
  <ave-grid-row [amount]="12" [gutter]="1">
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <p>In the physical world, objects can be stacked or affixed to one another, but cannot pass through each other.
        Objects also cast shadows and reflect light.</p>
      <p>在物理世界中，对象可以堆叠或者贴合到另外一个上面，但是不能互相穿透。</p>
      <p>Material design reflects these qualities to form a spatial model that is familiar to users and can be applied
        consistently across apps. </p>
      <p>Material design从不同的方面模拟了上述的这些特质，用户非常熟悉这些特质，而且能够平滑地在不同的应用之间应用。</p>
    </ave-grid-column>
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <strong>Elevation</strong>
      <strong>高度</strong>
      <p>Measured from the front of one surface to the front of another, an element’s elevation indicates the distance
        between surfaces and the depth of its shadow.</p>
      <p>从前一个平面到后一个平面，一个material元素的elevation通过它的阴影标识了它在不同平面之间的景深。</p>
      <strong>Resting elevation</strong>
      <strong>相对的elevation</strong>
      <p>All material elements have resting elevations. While components have consistent resting elevations across apps,
        they may have different resting elevations across platforms and devices.</p>
      <p>所有的material元素都有相对elevation。组件在不同的应用之间具有一直的相对elevation，而在不同的平台和设备上，相对elevation不同。</p>
      <strong>Dynamic elevation offsets</strong>
      <strong>动态elevation偏移</strong>
      <p>Dynamic elevation offsets are the goal elevation that a component moves towards, relative to its resting
        state.</p>
      <p>动态elevation偏移是指当组件向用户靠近时候，其相对位置会发生改变，此时目标的elevation就称为动态elevation。</p>
    </ave-grid-column>
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <img class="img" alt=""
           src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B7WCemMG6e0VR0pkTjhSTldhTGs/what_is_material_elevation_and_shadows.png">
    </ave-grid-column>
  </ave-grid-row>
</section>
<section>
  <nav>
    <h1>Contents</h1>
    <h1>目录</h1>
    <ul>
      <li><a> Elevation (Android) </a></li>
      <li><a> Elevation (Android) </a></li>
      <li><a> Shadows </a></li>
      <li><a> 阴影 </a></li>
      <li><a> Object relationships </a></li>
      <li><a> 对象之间的关系 </a></li>
    </ul>
  </nav>
</section>
<section>
  <h1>Elevation (Android) </h1>
  <h1>Elevation (Android) </h1>
  <ave-grid-row [amount]="12" [gutter]="0">
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <p>Elevation is the relative depth, or distance, between two surfaces along the z-axis. </p>
      <strong>Specifications</strong>
      <ul>
        <li>Elevation is measured in the same units as the x and y axes, typically in density-independent pixels (dp).
          Because material elements have depth (all material is 1dp thick), elevation is measured in distance from the
          top of one surface to the top of another.
        </li>
        <li>A child object's elevation is relative to the parent object's elevation.</li>
      </ul>
      <p>The images and values shown are for Android apps.</p>
    </ave-grid-column>
    <ave-grid-column [xs.span]="12" [md.span]="8">
      <img class="img" alt="" aria-describedby="elevation-android-figure-caption-1"
           src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B6Okdz75tqQsTVdGcm1LX0dVeGM/whatismaterial_3d_elevation1.png">
      <p>Multiple elevation measurements for two objects</p>
      <p>不同对象之间不同的elevation</p>
    </ave-grid-column>
  </ave-grid-row>

  <ave-grid-row [amount]="12" [gutter]="0">
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <strong>Resting elevation</strong>>
      <h1>相对景深</h1>
      <p>All material objects, regardless of size, have a resting elevation, or default elevation that does not change.
        If an object changes elevation, it should return to its resting elevation as soon as possible.</p>
      <p>所有的material对象，无论什么大小，都有不变的相对景深，或者是默认景深。如果一个对象的景深改变了，那么它应该尽快恢复到其应有的相对景深。</p>
      <p>Desktop resting elevation is 2dp below the listed values to accommodate mouse and non-touch environments.</p>
      <p>Desktop resting elevation is 2dp below the listed values to accommodate mouse and non-touch environments.</p>
      <strong>Component elevations:</strong>
      <strong>组件的景深：</strong>
      <ul>
        <li>Components maintain consistent resting elevations across apps. For example, the floating action button’s
          elevation does not vary from one app to another.
        </li>
        <li>组件在不同的应用之间拥有连贯的相对景深。比如，浮动控制按钮的景深在任何应用中都不会改变。</li>
        <li>Components may have different resting elevations across platforms and devices, depending on the depth of the
          environment. For instance, TV has a greater depth than desktop as it has a larger screen and is viewed from
          further away. Similarly, both TV and desktop have a greater depth than mobile.
        </li>
        <li>组件在不同的平台和设备之间可以有不同的相对景深，这依赖于整个环境的景深。比如：TV因为有更大的屏幕，用户会从更远的视角来交互，因此比桌面有更深的景深。
          相似地，电视和桌面设备比移动设备有更深的景深。
        </li>
      </ul>
      <strong>Responsive elevation and dynamic elevation offsets</strong>
      <strong>响应式景深和动态景深偏移</strong>
      <p>Some component types have responsive elevation, meaning they change elevation in response to user input (e.g.,
        normal, focused, and pressed) or system events. These elevation changes are consistently implemented using
        <strong>dynamic elevation offsets</strong>.</p>
      <p>一些组件有响应式的景深，这意味着这些组件可以根据用户的输入（比如常规、聚焦、按下按钮）或者其他的系统事件做出响应，改变自身的景深。这些景深的改变就是使用<strong>动态景深偏移</strong>。</p>
      <p>Dynamic elevation offsets are the goal elevation that a component moves towards, relative to the component’s
        resting state. They ensure that elevation changes are consistent across actions and component types. For
        example, all components that lift on press have the same elevation change relative to their resting
        elevation.</p>
      <p>动态景深偏移是指组件相对其位置，向用户的视角移动而形成的目标景深。它保证景深的改变在动作和组件类型之间是连贯的。比如：所有的组件在被按下时，有着相对其位置固定的景深偏移。</p>
      <p>Once the input event is completed or cancelled, the component will return to its resting elevation.</p>
      <p>一旦当输入事件结束或者取消，组件就回到了其本来的相对景深。</p>
      <strong>Avoiding elevation interference</strong>
      <strong>避免景深干扰</strong>
      <p>Components with responsive elevations may encounter other components as they move between their resting
        elevations and dynamic elevation offsets. Because material cannot
        pass through other material, components avoid interfering with one another any number of ways, whether on
        a per-component basis or using the entire app layout.</p>
      <p>具有响应式高度的组件在不同的高度层上移动的时候，可能会和其他组件产生碰撞。因为material元素不能穿透，所以组件通过为每个组件定义一个高度值或者使用整体应用布局的方式来避免高度层冲突。</p>
      <p>On a component level, components can move or be removed before they cause interference. For example, a floating
        action button (FAB) can disappear or move off-screen before a user picks up a card, or it can move if a snackbar
        appears.</p>
      <p>在一个组件层上，组件可以在其会产生干扰的时候被移动或者被删除。比如，浮动命令按钮（FAB）可以在用户点击一个卡片之前隐藏或者移动，或者当snackbar出现之前。</p>
      <p>On the layout level, design your app layout to minimize opportunities for interference. For example, position
        the FAB to one side of a stream of cards so the FAB won’t interfere when a user tries to pick up one of
        cards.</p>
      <p>在布局层，应该认真规划你的布局使得最大化地避免产生高度串扰。比如：将FAB固定到卡片流的一侧，这样在用户试图点击FAB的时候将不会影响卡片。</p>
    </ave-grid-column>
    <ave-grid-column [xs.span]="12" [md.span]="8">
      <table border="1" rules="all">
        <tr>
          <th>
            <p>Elevation (dp)</p>
            <p>高度值 (dp)</p>
          </th>
          <th>
            <p>Component</p>
            <p>组件</p>
          </th>
        </tr>
        <tr>
          <td>
            <p>24</p>
          </td>
          <td>
            <p>Dialog</p>
            <p>Picker</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>16</p>
          </td>
          <td>
            <p>Nav drawer </p>
            <p>Right drawer</p>
            <p>Modal bottom Sheet</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>12</p>
          </td>
          <td>
            <p>Floating action button (FAB - pressed)</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>9</p>
          </td>
          <td>
            <p>Sub menu (+1dp for each sub menu)</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>8</p>
          </td>
          <td>
            <p>Bottom navigation bar</p>
            <p>Menu</p>
            <p>Card (when picked up) </p>
            <p>Raised button (pressed state)</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>6</p>
          </td>
          <td>
            <p>Floating action button (FAB - resting elevation)</p>
            <p>Snackbar</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>4</p>
          </td>
          <td>
            <p>App Bar</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>3</p>
          </td>
          <td>
            <p>Refresh indicator</p>
            <p>Quick entry / Search bar (scrolled state)</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>2</p>
          </td>
          <td>
            <p>Card (resting elevation) *</p>
            <p>Raised button (resting elevation)*</p>
            <p>Quick entry / Search bar (resting elevation)</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>1</p>
          </td>
          <td>
            <p>Switch</p>
          </td>
        </tr>
      </table>
    </ave-grid-column>
  </ave-grid-row>
  <h3>Component elevation comparisons</h3>
  <h3>组件高度层的比较</h3>
  <p>The following diagram compares component resting elevations and dynamic elevation offsets. </p>
  <p>下面的图片比较了不同组件之间的相对高度层和动态高度偏移。</p>
  <img class="img" alt="" aria-describedby="elevation-android-figure-caption-2"
       src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0Bzhp5Z4wHba3VG9SaVpNbkpHb2s/whatismaterial_3d_elevation2.png">
  <p>In this diagram, only the elevation dimensions and layout for components are accurate. Other dimensions and overall
    layout of components are for illustration only.</p>
  <p>在这张图片中，只有高度层这一维度和组件的布局是精确的。其他维度只是示例。</p>

  <img class="img" alt="" aria-describedby="elevation-android-figure-caption-3"
       src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B8v7jImPsDi-cUtqZzE0REdJdnc/whatismaterial_3d_elevation3.png">
  <p>An example app layout with cards and a floating action button, along with a cross-section diagram of its component
    elevations along its z-axis</p>
  <p>一个应用的例子，包含卡片和FAB，同时也有跨section的组件高度层示意图。</p>
  <img class="img" alt="" aria-describedby="elevation-android-figure-caption-4"
       src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B8v7jImPsDi-eV81TDFrR2ZPU1E/whatismaterial_3d_elevation4.png">
  <p>An example app layout with an open navigation drawer, along with a cross-section diagram of its component
    elevations along its z-axis.</p>
  <p>具有一个打开的导航栏的例子，包括组件z轴上高度层示意图。</p>
</section>

<section>
  <h1> Shadows </h1>
  <h1> 阴影 </h1>
  <p>Shadows provide important visual cues about objects’ depth and directional movement. They are the only visual cue
    indicating the amount of separation between surfaces. An object’s elevation determines the appearance of its
    shadow.</p>
  <p>阴影为对象提供了视觉上的指引，包括其景深和方向性的移动。这是在不同的平面之间移动的时候唯一的提示。一个对象的高度决定了它的阴影展现方式。</p>
  <ave-grid-row [amount]="12" [gutter]="0">
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <img class="img" alt="" aria-describedby="shadows-figure-caption-1"
           src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B6Okdz75tqQsYUJ6a1luU1ZtUWs/whatismaterial_3d_elevation_shadow1.png">
      <p>Don't.</p>
      <p>不建议的做法。</p>
      <p>Without a shadow, nothing indicates that the floating action button is separate from the background
        surfaces.</p>
      <p>没有阴影，就无法提示浮动命令按钮是与背景的平面分离的。</p>
    </ave-grid-column>
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <img class="img" alt="" aria-describedby="shadows-figure-caption-2"
           src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0Bzhp5Z4wHba3ZDc2TUNPMEdNSkE/whatismaterial_3d_elevation_shadow2.png">
      <p>Don't.</p>
      <p>不建议的操作方式。</p>
      <p>Crisp shadows indicate the floating action button and the blue sheet are separate elements. However, their
        shadows are so similar that they imply they are both at the same elevation.</p>
      <p>松散的阴影说明FAB和蓝色的页面是分离的元素。但是，它们之间的阴影太相似了，因此用户会认为它们位于同一高度层。</p>
    </ave-grid-column>
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <img class="img" alt="" aria-describedby="shadows-figure-caption-3"
           src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0Bzhp5Z4wHba3U1JzN0ltV1ViUWs/whatismaterial_3d_elevation_shadow3.png">
      <p>Do.</p>
      <p>建议的操作方式。</p>
      <p>Softer, larger shadows indicate the floating action button is at a higher elevation than the blue sheet, which
        has a crisper shadow.</p>
      <p>柔软的，更大的阴影表明浮动命令按钮有着比只有松散的阴影的蓝色页面更高的高度。</p>
    </ave-grid-column>
  </ave-grid-row>

  <p>In motion, shadows provide useful cues about an object’s direction of movement and whether the distance between
    surfaces is increasing or decreasing.</p>
  <p>在动画中，阴影为对象的移动方向提供了有效的提示，无论对象是与平面之间的距离是增加还是减少。</p>
  <ave-grid-row [amount]="12" [gutter]="2">

    <ave-grid-column [xs.span]="12" [md.span]="4">
      <img class="img" alt="" aria-describedby="shadows-figure-caption-4"
           src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B6Okdz75tqQsRlUtdkk1c2xwUkU/whatismaterial_3d_elevation_shadow4.png">
      <p>Don't.</p>
      <p>不建议的做法</p>
      <p>Without a shadow to indicate elevation, it’s unclear whether this square is increasing in size or increasing
        its elevation.</p>
      <p>不使用阴影来提示高度，这样就不知道长方形到底是大小改变了还是高度改变了。</p>
    </ave-grid-column>
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <img class="img" alt="" aria-describedby="shadows-figure-caption-5"
           src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B6Okdz75tqQsMlg5UmlWV2FnQ3M/whatismaterial_3d_elevation_shadow5.png">
      <p>Do.</p>
      <p>建议的做法。</p>
      <p>The shadow grows softer and larger as the object’s elevation increases and grows crisper and smaller as the
        elevation decreases.</p>
      <p>阴影慢慢变得柔软和更大，同时对象的高度不断增加，对象高度减少，阴影变得更小、更锐化。</p>
    </ave-grid-column>
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <img class="img" alt="" aria-describedby="shadows-figure-caption-6"
           src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B6Okdz75tqQsY1hrcHlOdEJuU1k/whatismaterial_3d_elevation_shadow6.png">
      <p>Do.</p>
      <p>建议的做法。</p>
      <p>In this case, the consistent shadow helps the user understand that the object is changing shape as opposed to
        changing elevation.</p>
      <p>在这一案例中，连贯的阴影帮助用户理解对象正在改变其形状而不是改变高度。</p>
    </ave-grid-column>
  </ave-grid-row>
</section>
