@keyframes scale-in {
  0% {
    transform: scale(0);
    border-radius: 100%;
  }

  100% {
    transform: scale(1);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
