@import "../../core/core";
@import "typography";
@import "shape";
@import "palette";
@import "./component-theme/button-theme";

$ave-component-ingredient: (
  button: $ave-button-ingredient
);
@function ave-theme() {
  $result: (
    button: $ave-button-theme
  );
  @return $result;
}
$themes: ave-theme();
@mixin avengers-theme-loader($themes) {
  @each $component-name, $component-theme in $themes {
    @include ave-component-style($component-name, $component-theme);
  }
}


// Include all theme styles for the components.
@include avengers-theme-loader($themes);
