$ave-prefix: 'v';
// Typography
$ave-body-font-size-base: 1em;
$ave-font-family: "Microsoft YaHei", Roboto, 'Helvetica Neue', sans-serif !default;

// Color
$base-color: #ffffff;
$component-back-color: transparentize($base-color, 1);

$theme-component-scene: (
  default,
  primary,
  secondary,
  success,
  info,
  warning,
  danger,
  link
);

$theme-component-state: (
  none,
  active,
  hover,
  focus,
  visited
);

// Palette
@mixin ave-component-property-style($state-style) {
  @each $property, $value in $state-style {
    #{$property}: $value;
  }
}

@mixin ave-component-state-style($scene-style) {
  @each $state, $state-style in $scene-style {
    @if ($state == none) {
      & {
        @include ave-component-property-style($state-style);
      }
    } @else {
      &:#{$state} {
        @include ave-component-property-style($state-style);
      }
    }
  }
}

@mixin ave-component-scene-style($ingredient-style) {
  @each $scene, $scene-style in $ingredient-style {
    &-#{$scene} {
      @include ave-component-state-style($scene-style);
    }
  }
}

@mixin ave-component-style($component-name, $component-theme) {
  @each $ingredient-name, $ingredient-style in $component-theme {
    .#{$ave-prefix}-#{$component-name} {
      @include ave-component-scene-style($ingredient-style);
    }
  }
}
