@import "../../core/core";
@import "../../core/theming";
@import "typography";
@import "sizing";
@import "palette";
@import "brush";

// Define a theme.

// Color
$theme-color: (
  default: ave-brush($ave-indigo),
  primary: ave-brush($ave-blue),
  secondary: ave-brush($ave-light-blue),
  success: ave-brush($ave-green),
  info: ave-brush($ave-cyan),
  warning: ave-brush($ave-deep-orange),
  danger: ave-brush($ave-red),
  link: ave-brush($ave-grey)
);

// Typography.
$typography: $ave-typography-default;

// Frame.
$sizing: $ave-sizing-normal;

$theme: ave-theme($theme-color, $typography, $sizing);

// Include all theme styles for the components.
@include avengers-theme-loader($theme);
