@import "../../core/core";
@import "../../core/theming";
@import "typography";
@import "sizing";
@import "palette";

// Define a theme.

// Color
$theme-color: (
  default: ave-palette($ave-grey),
  primary: ave-palette($ave-blue),
  secondary: ave-palette($ave-light-blue),
  success: ave-palette($ave-green),
  info: ave-palette($ave-cyan),
  warning: ave-palette($ave-deep-orange),
  danger: ave-palette($ave-red),
  link: ave-palette($ave-grey)
);

$primary-color: ave-palette($ave-light-blue);
$danger-color:  ave-palette($ave-red, A200, A100, A400);

// Typography.
$typography: $ave-typography-default;

// Frame.
$sizing: $ave-sizing-normal;

$theme: ave-light-theme($primary-color, $typography, $sizing);

// Include all theme styles for the components.
@include avengers-theme($theme);
