$ave-sizing-normal: (
  margin: (
    base: 0,
    container: 0,
    control: 0.3em 0 0.3em 0,
    link: 0
  ),
  min-width: (
    base: 0,
    container: 0,
    control: 1em,
    link: 1em
  ),
  padding: (
    base: 0,
    container: 0,
    control: 0.5em 1em 0.5em 1em,
    link: 0.25em 0.5em 0.25em 0.5em
  ),
  border: (
    base: none,
    container: none,
    control: none,
    link: none
  ),
  border-radius: (
    base: 0,
    container: 0,
    control: 1px,
    link: 0
  )
);

@function ave-sizing($base-sizing, $type: control) {
  @return (
    map_get($base-sizing, $type)
  );
}
