$ave-typography-normal: (
  font-family: (
    base: #{'\"'}#{Microsoft YaHei}#{'\"'}#{','} Roboto#{','} #{'\"'}#{Helvetica Neue}#{'\"'}#{','} sans-serif,
    control: #{'\"'}#{Microsoft YaHei}#{'\"'}#{','} Roboto#{','} #{'\"'}#{Helvetica Neue}#{'\"'}#{','} sans-serif,
    link: #{'\"'}#{Microsoft YaHei}#{'\"'}#{','} Roboto#{','} #{'\"'}#{Helvetica Neue}#{'\"'}#{','} sans-serif
  ),
  font-size: (
    base: 1.15em,
    control: 1em,
    link: 1em
  ),
  font-weight:(
    base: 400,
    control: 500,
    link: 600
  ),
  text-underline: (
    base: none,
    control: none,
    link: none
  )
);

@function ave-typography($base-typography, $type: base) {
  @return (
    map_get($base-typography, $type)
  );
}

.v-test {

}
