$font-family-default: "Microsoft YaHei", Roboto, "Helvetica Neue", sans-serif;
$ave-typography-default: (
  font-family: (
    base: $font-family-default,
    container: $font-family-default,
    control: $font-family-default,
    link: $font-family-default
  ),
  font-size: (
    base: 1.15em,
    container: 1em,
    control: 1em,
    link: 1em
  ),
  font-weight:(
    base: 400,
    container: 400,
    control: 500,
    link: 600
  ),
  text-decoration: (
    base: none,
    container: none,
    control: none,
    link: none
  )
);

.v-test {
  $font: map_get($ave-typography-default,'font-family');
  font-family: map_get($font, 'base');
}
