@import "../../variables";
:host {
  display: inline-flex;
  height: 2em;
  justify-content: center;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: $item-background-color;
  -webkit-user-select: none;
  color: $item-color;
  cursor: pointer;
}
:host:hover {
  background-color: $item-hover-background-color;
}
:host:focus {
  background-color: $item-active-background-color;
}
