div {
  display: inline-flex;
  background-color: #cccccc;
  padding: 0.5em;
  -webkit-user-select: none;
  border: outset;
  border-width: 2px;
}
div:hover {
  background-color: #000000;
  color: #cccccc;
}
:host {
  cursor: pointer;
}
