<ave-tabstrip>
  <ave-tabstrip-bar>
      <ave-tabstrip-tab [attachedPage]="page1">One</ave-tabstrip-tab>
      <ave-tabstrip-tab [attachedPage]="page2">Two</ave-tabstrip-tab>
      <ave-tabstrip-tab [attachedPage]="page3">Three</ave-tabstrip-tab>
      <ave-tabstrip-addon>
        <ave-button>Addon</ave-button>
      </ave-tabstrip-addon>
      <ave-tabstrip-toggle></ave-tabstrip-toggle>
  </ave-tabstrip-bar>
  <ave-tabstrip-panel [height]="100">
    <ave-tabstrip-page #page1>First Pasdddddddddddage</ave-tabstrip-page>
    <ave-tabstrip-page #page2>Second Page</ave-tabstrip-page>
    <ave-tabstrip-page #page3>Third Page</ave-tabstrip-page>
  </ave-tabstrip-panel>
</ave-tabstrip>

<h1>1</h1>
<h1>2</h1>
<h1>3</h1>

