@import "../../variables";


:host {
  display: flex;
  height: 2em;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
  cursor: pointer;
  min-width: 4em;
  background-color: $item-background-color;
  color: $item-color;
}
:host:hover {
  background-color: $item-hover-background-color;
}
ave-popup {
  display: flex;
  flex-flow: column;
}

div {
  display: flex;
  width: 100%;
  height: 100%;
}
