@import "../core/widget.component";

.v-menu-header {
  @extend %v-control;
  box-sizing: border-box;
  overflow: hidden;
  outline: none;

  // Make anchors render like buttons.
  white-space: nowrap;
  text-decoration: none;
  span {

  }
}
