@import "../core/widget";
@import "../utils/utils";

.v-menu-header {
  display: block;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  @include user-select(none);
  i {

  }
  .v-arcylic-ground {
    z-index: 1;
  }
  .v-arcylic-light {
    z-index: 2;
  }
  .v-ripple {
    z-index: 3;
  }
  .v-arcylic-content {
    z-index: 4;
  }
}
