@import "../core/widget";
@import "../../theme/base";

.#{$ave-prefix}-menu-entry {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  min-width: 6rem;
  vertical-align: bottom;
  z-index: 1000;
}
