@import "../../theme/widget";
@import "../../theme/utils";
@import "../../theme/base";

.#{$ave-prefix}-menu-header {
  display: block;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  @include user-select(none);
  i {

  }
  .#{$ave-prefix}-arcylic-ground {
    z-index: 1;
  }
  .#{$ave-prefix}-arcylic-light {
    z-index: 2;
  }
  .#{$ave-prefix}-ripple {
    z-index: 3;
  }
  .#{$ave-prefix}-arcylic-content {
    z-index: 4;
  }
}
