@import "../../core/control";
@import "../../utils/utils";

// Mixin overriding default button styles like the gray background, the border, and the outline.
@mixin ave-button-reset {
  @include user-select(none);
  cursor: pointer;
  outline: none;
  border: none;
}

%v-button-base {
  @extend %v-control;

  // Reset browser <button> styles.
  @include ave-button-reset();
  background-color: transparent;
  color: transparent;

  justify-content: center;
  align-items: center;
  box-sizing: border-box;


  // Make anchors render like buttons.
  white-space: nowrap;
  text-decoration: none;
}
.v-button {
  @extend %v-button-base;
}
