@import "../../../variables";


.illustration {
  background: url("../../../assets/heroillustration.jpg");
  justify-content: flex-end;
}

.right-content {
  background-color: #ffffff;
  min-width: 16em;
  padding-left: 3em;
  padding-right: 3em;

}

.form-control {
  min-height: 1em;
  margin-bottom: 1em;
}

.form-group {
  width: 16em;
}

.form-control#login_in {
  min-height: 2em;
  margin-right: 2em;
}
.footer-control {
  margin-top: auto;
  justify-content: flex-start;
  align-items: center;
}
.logo {
    width: 100px;
    height: auto;
}
.footer-link {
  margin-top: 1em;
  margin-bottom: 2em;
}
ave-grid-row {

}
ave-grid-column {
}
