@import "../../../styles/core/variables";


.container {
  width: 100%;
  height: 100%;
  background: url("../../../assets/heroillustration.jpg");
  justify-content: flex-end;
}

.right-panel {
  background-color: #ffffff;
  width: 20em;
  padding-left: 3em;
  padding-right: 3em;
  display: flex;
  flex-flow: column;

}
.header-group {
  width: 16em;
  flex-flow: column;
}
.form-control {
  min-height: 1em;
  margin-bottom: 1em;
}

.form-group {
  width: 16em;
  flex-flow: column;
}
.button-group {
  width: 16em;
  flex-flow: row;
}
.button-control {
  min-height: 2em;
  margin-right: 2em;
}

.footer-group {
  width: 16em;
  margin-top: auto;
  justify-content: flex-start;
  height: 4em;
}
.footer-control {
  height: 4em;
  align-items: center;
}
.logo {
    width: 100px;
    height: auto;
}
.footer-link {
  width: 16em;
  margin-top: 1em;
  margin-bottom: 2em;
  height: 2em;
}
