@import "../../../variables";

.container {
  height: 100%;
}

.illustration {
  width: 100%;
  background: url("../../../assets/heroillustration.jpg");
}

.right-content {
  min-width: 20em;
  margin-left: 5%;
}

.form-control {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  min-height: 1em;
}

.form-group {
  width: 16em;
}

.form-control#sign_up {
  margin-left: 1em;
}
.footer-control {
  margin-top: auto;
  margin-bottom: 2em;
  justify-content: flex-start;
}
