<ave-grid-row>
  <ave-grid-column class="illustration">
  </ave-grid-column>
  <ave-grid-column class="login-form">
    <ave-grid-row>
      <h3>请输入用户名和密码</h3>
    </ave-grid-row>
    <ave-grid-row>
      <ave-grid-column>
          <input type="text" placeholder="请输入用户名">
          <input type="password" placeholder="请输入密码">
        <ave-grid-row>
          <input type="checkbox">
          <label>记住密码</label>
        </ave-grid-row>
        <ave-grid-row>
          <button value="">登录</button>
          <button value="">注册</button>
        </ave-grid-row>
      </ave-grid-column>
    </ave-grid-row>
    <ave-grid-row>
      Copyright by
    </ave-grid-row>
  </ave-grid-column>
</ave-grid-row>
