<ave-navbar class="navbar">
  <ave-navbar-item>
    <a routerLink="./" routerLinkActive="true" class="navbar-brand">Dizall Dynamics EOMS</a>
  </ave-navbar-item>
  <ave-navbar-item>
    <ave-menu class="toggle-menu">
      <ave-menu-bar>
        <ave-menu-entry class="navbar-toggle" [icon]="'fa fa-bars fa-lg'" [showChevron]="false">
          <ave-menu-item [title]="1"></ave-menu-item>
          <ave-menu-item [title]="1"></ave-menu-item>
          <ave-menu-item [title]="1"></ave-menu-item>
          <ave-menu-item [title]="1"></ave-menu-item>
        </ave-menu-entry>
      </ave-menu-bar>
    </ave-menu>
  </ave-navbar-item>
  <ave-navbar-item>
    <ave-button class="navbar-button">sadfsadf</ave-button>
  </ave-navbar-item>
  <ave-navbar-item>
    <ave-dropdown [title]="'实体管理'"  class="navbar-button">
      <ave-dropdown-group>
        <ave-dropdown-item>新增</ave-dropdown-item>
        <ave-dropdown-item>删除</ave-dropdown-item>
        <ave-dropdown-item>查询</ave-dropdown-item>
        <ave-dropdown-item>修改</ave-dropdown-item>
      </ave-dropdown-group>
    </ave-dropdown>
  </ave-navbar-item>
  <ave-navbar-item class="navbar-addon">
    <ave-textbox [placeholder]="'请输入搜索内容'"></ave-textbox>
  </ave-navbar-item>
</ave-navbar>
