<ave-megamenu>
  <ave-megamenu-bar>
    <ave-megamenu-entry [title]="'entry'">
      <ave-megamenu-group>
        <ave-megamenu-item [title]="'1'">asdfasfd</ave-megamenu-item>
        <ave-megamenu-item [title]="'1'"></ave-megamenu-item>
        <ave-megamenu-item [title]="'1'"></ave-megamenu-item>
        <ave-megamenu-item [title]="'1'"></ave-megamenu-item>
        <ave-megamenu-item [title]="'1'"></ave-megamenu-item>
      </ave-megamenu-group>
      <ave-megamenu-group>
        <ave-megamenu-item [title]="'1'"></ave-megamenu-item>
        <ave-megamenu-item [title]="'1'"></ave-megamenu-item>
        <ave-megamenu-item [title]="'1'"></ave-megamenu-item>
        <ave-megamenu-item [title]="'1'"></ave-megamenu-item>
        <ave-megamenu-item [title]="'1'"></ave-megamenu-item>
        <ave-megamenu-item [title]="'1'"></ave-megamenu-item>
        <ave-megamenu-item [title]="'1'"></ave-megamenu-item>
      </ave-megamenu-group>
    </ave-megamenu-entry>
  </ave-megamenu-bar>
</ave-megamenu>
