<ave-megamenu>
  <ave-megamenu-group>
    <ave-megamenu-item [title]="'1'"></ave-megamenu-item>
    <ave-megamenu-item [title]="'1'"></ave-megamenu-item>
    <ave-megamenu-item [title]="'1'"></ave-megamenu-item>
    <ave-megamenu-item [title]="'1'"></ave-megamenu-item>
    <ave-megamenu-item [title]="'1'"></ave-megamenu-item>
  </ave-megamenu-group>
  <ave-megamenu-group>
    <ave-megamenu-item [title]="'1'"></ave-megamenu-item>
    <ave-megamenu-item [title]="'1'"></ave-megamenu-item>
    <ave-megamenu-item [title]="'1'"></ave-megamenu-item>
    <ave-megamenu-item [title]="'1'"></ave-megamenu-item>
    <ave-megamenu-item [title]="'1'"></ave-megamenu-item>
    <ave-megamenu-item [title]="'1'"></ave-megamenu-item>
    <ave-megamenu-item [title]="'1'"></ave-megamenu-item>
  </ave-megamenu-group>
</ave-megamenu>
