@import "../../../../components-base/panel/panel";
@import "../../base";
@import "../../palette";
@import "../../typography";
@import "../../shape";

// State dictionary
$ave-panel-state: (
  none,
  active,
  hover,
  focus,
  visited
);

// Property dictionary
$ave-panel-property: (
  background-color,
  color,
  font,
  padding
);
// Define a theme.

// Color
$ave-panel-palette-base: (
  default: ave-palette($ave-palette-grey),
  primary: ave-palette($ave-palette-blue),
  secondary: ave-palette($ave-palette-white),
  success: ave-palette($ave-palette-white),
  info: ave-palette($ave-palette-white),
  warning: ave-palette($ave-palette-white),
  danger: ave-palette($ave-palette-white),
  link: ave-palette($ave-palette-white)
);

// Typography.
$ave-panel-typography-base: (
  default: ave-typography($ave-typography-yahei),
  primary: ave-typography($ave-typography-yahei),
  secondary: ave-typography($ave-typography-yahei),
  success: ave-typography($ave-typography-yahei),
  info: ave-typography($ave-typography-yahei),
  warning: ave-typography($ave-typography-yahei),
  danger: ave-typography($ave-typography-yahei),
  link: ave-typography($ave-typography-yahei)
);

// Frame.
$ave-panel-shape-base: (
  default: ave-shape($ave-shape-ratio-dot618),
  primary: ave-shape($ave-shape-ratio-dot618),
  secondary: ave-shape($ave-shape-ratio-dot5),
  success: ave-shape($ave-shape-ratio-dot5),
  info: ave-shape($ave-shape-ratio-dot5),
  warning: ave-shape($ave-shape-ratio-dot5),
  danger: ave-shape($ave-shape-ratio-1dot618),
  link: ave-shape($ave-shape-ratio-1dot618)
);

$ave-panel-palette: ave-component-theme-composer($ave-panel-palette-base, $ave-panel-state, $ave-panel-property);
$ave-panel-typography: ave-component-theme-composer($ave-panel-typography-base, $ave-panel-state, $ave-panel-property);
$ave-panel-shape: ave-component-theme-composer($ave-panel-shape-base, $ave-panel-state, $ave-panel-property);

$ave-panel-theme: (
  $ave-panel-palette,
  $ave-panel-typography,
  $ave-panel-shape
);

@mixin ave-panel-theme() {
}
