<ave-row><div class="banner">Banner</div></ave-row>
<ave-row><div class="top-menu">TopMenu</div></ave-row>
<ave-row>
  <ave-col class="left-panel">
    <side-menu></side-menu>
  </ave-col>
  <ave-col class="dash-board">
    <ave-row>
      <h1>Charts</h1>
    </ave-row>
    <ave-row>
      <h1>Charts</h1>
    </ave-row>
    <ave-row>
      <h1>Charts</h1>
    </ave-row>
    <ave-row>
      <h1>Charts</h1>
    </ave-row><ave-row>
      <h1>Charts</h1>
    </ave-row><ave-row>
      <h1>Charts</h1>
    </ave-row><ave-row>
      <h1>Charts</h1>
    </ave-row><ave-row>
      <h1>Charts</h1>
    </ave-row>
    <ave-row>
      <h1>Lists</h1>
    </ave-row>
  </ave-col>
</ave-row>

