<ave-grid-row><div class="banner">Banner</div></ave-grid-row>
<ave-grid-row><div class="top-menu">TopMenu</div></ave-grid-row>
<ave-grid-row>
  <ave-grid-column class="left-panel">
    <side-menu></side-menu>
  </ave-grid-column>
  <ave-grid-column class="dash-board">
    <ave-grid-row>
      <h1>Charts</h1>
    </ave-grid-row>
    <ave-grid-row>
      <h1>Charts</h1>
    </ave-grid-row>
    <ave-grid-row>
      <h1>Charts</h1>
    </ave-grid-row>
    <ave-grid-row>
      <h1>Charts</h1>
    </ave-grid-row><ave-grid-row>
      <h1>Charts</h1>
    </ave-grid-row><ave-grid-row>
      <h1>Charts</h1>
    </ave-grid-row><ave-grid-row>
      <h1>Charts</h1>
    </ave-grid-row><ave-grid-row>
      <h1>Charts</h1>
    </ave-grid-row>
    <ave-grid-row>
      <h1>Lists</h1>
    </ave-grid-row>
  </ave-grid-column>
</ave-grid-row>

