.banner {
  width: 100%;
  height: 10vh;
  background-color: #006600;
}
.top-menu {
  width: 100%;
  height: 5vh;
  background-color: royalblue;
}

.content {
  width: 80vh;
}
.left-panel {
  width: 25%;
  height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.dash-board {
  width: 75%;
  height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
}
