<h3>下拉按钮</h3>
<ave-dropdown class="v-dropdown-primary" [title]="'下拉选择'">
  <ave-dropdown-group>
    <ave-dropdown-item class="v-dropdown-item-primary">asdfsadf</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-primary">asdfasd</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-primary">dsss</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-primary">dsss</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-primary">dsss</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-primary">4353sad</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-primary">1dsf</ave-dropdown-item>
  </ave-dropdown-group>
  <ave-dropdown-group>
    <ave-dropdown-item class="v-dropdown-item-secondary">asdfsadf</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-secondary">asdfasd</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-secondary">asdfasd</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-secondary">dsss</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-secondary">4353sad</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-secondary">1dsf</ave-dropdown-item>
  </ave-dropdown-group>
</ave-dropdown>

<ave-dropdown class="v-dropdown-primary" [title]="'下拉选择'">
  <ave-dropdown-group>
    <ave-dropdown-item>asdfsadf</ave-dropdown-item>
    <ave-dropdown-item>asdfasd</ave-dropdown-item>
    <ave-dropdown-item>dsss</ave-dropdown-item>
    <ave-dropdown-item>4353sad</ave-dropdown-item>
    <ave-dropdown-item>1dsf</ave-dropdown-item>
  </ave-dropdown-group>
  <ave-dropdown-group>
    <ave-dropdown-item>asdfsadf</ave-dropdown-item>
    <ave-dropdown-item>asdfasd</ave-dropdown-item>
    <ave-dropdown-item>dsss</ave-dropdown-item>
    <ave-dropdown-item>4353sad</ave-dropdown-item>
    <ave-dropdown-item>1dsf</ave-dropdown-item>
    <ave-dropdown-item>1dsf</ave-dropdown-item>
    <ave-dropdown-item>1dsf</ave-dropdown-item>
  </ave-dropdown-group>
</ave-dropdown>
<ave-dropdown class="v-dropdown-primary" [title]="'下拉选择'">
  <ave-dropdown-group>
    <ave-dropdown-item>asdfsadf</ave-dropdown-item>
    <ave-dropdown-item>asdfasd</ave-dropdown-item>
    <ave-dropdown-item>dsss</ave-dropdown-item>
    <ave-dropdown-item>dsss</ave-dropdown-item>
    <ave-dropdown-item>dsss</ave-dropdown-item>
    <ave-dropdown-item>4353sad</ave-dropdown-item>
    <ave-dropdown-item>1dsf</ave-dropdown-item>
  </ave-dropdown-group>
  <ave-dropdown-group>
    <ave-dropdown-item>asdfsadf</ave-dropdown-item>
    <ave-dropdown-item>asdfasd</ave-dropdown-item>
    <ave-dropdown-item>dsss</ave-dropdown-item>
    <ave-dropdown-item>4353sad</ave-dropdown-item>
    <ave-dropdown-item>1dsf</ave-dropdown-item>
    <ave-dropdown-item>1dsf</ave-dropdown-item>
    <ave-dropdown-item>1dsf</ave-dropdown-item>
  </ave-dropdown-group>
</ave-dropdown>
