<h3>下拉按钮</h3>
<ave-dropdown class="v-dropdown-primary" [title]="'下拉选择'">
  <ave-dropdown-group class="v-dropdown-group-primary">
    <ave-dropdown-item class="v-dropdown-item-default">1</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-primary">2</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-secondary">3</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-success">4</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-info">5</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-warning">6</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-danger">7</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-link">8</ave-dropdown-item>
  </ave-dropdown-group>
  <ave-dropdown-group class="v-dropdown-group-secondary">
    <ave-dropdown-item class="v-dropdown-item-secondary">1</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-secondary">2</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-secondary">3</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-secondary">4</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-secondary">5</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-secondary">6</ave-dropdown-item>
  </ave-dropdown-group>
  <ave-dropdown-group class="v-dropdown-group-success">
    <ave-dropdown-item class="v-dropdown-item-primary">1</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-primary">2</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-primary">3</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-primary">4</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-primary">5</ave-dropdown-item>
    <ave-dropdown-item class="v-dropdown-item-primary">6</ave-dropdown-item>
  </ave-dropdown-group>
</ave-dropdown>

<ave-dropdown class="v-dropdown-primary" [title]="'下拉选择'">
  <ave-dropdown-group>
    <ave-dropdown-item>asdfsadf</ave-dropdown-item>
    <ave-dropdown-item>asdfasd</ave-dropdown-item>
    <ave-dropdown-item>dsss</ave-dropdown-item>
    <ave-dropdown-item>4353sad</ave-dropdown-item>
    <ave-dropdown-item>1dsf</ave-dropdown-item>
  </ave-dropdown-group>
  <ave-dropdown-group>
    <ave-dropdown-item>asdfsadf</ave-dropdown-item>
    <ave-dropdown-item>asdfasd</ave-dropdown-item>
    <ave-dropdown-item>dsss</ave-dropdown-item>
    <ave-dropdown-item>4353sad</ave-dropdown-item>
    <ave-dropdown-item>1dsf</ave-dropdown-item>
    <ave-dropdown-item>1dsf</ave-dropdown-item>
    <ave-dropdown-item>1dsf</ave-dropdown-item>
  </ave-dropdown-group>
</ave-dropdown>

<ave-dropdown class="v-dropdown-primary" [title]="'下拉选择'">
  <ave-dropdown-group>
    <ave-dropdown-item>asdfsadf</ave-dropdown-item>
    <ave-dropdown-item>asdfasd</ave-dropdown-item>
    <ave-dropdown-item>dsss</ave-dropdown-item>
    <ave-dropdown-item>dsss</ave-dropdown-item>
    <ave-dropdown-item>dsss</ave-dropdown-item>
    <ave-dropdown-item>4353sad</ave-dropdown-item>
    <ave-dropdown-item>1dsf</ave-dropdown-item>
  </ave-dropdown-group>
  <ave-dropdown-group>
    <ave-dropdown-item>asdfsadf</ave-dropdown-item>
    <ave-dropdown-item>asdfasd</ave-dropdown-item>
    <ave-dropdown-item>dsss</ave-dropdown-item>
    <ave-dropdown-item>4353sad</ave-dropdown-item>
    <ave-dropdown-item>1dsf</ave-dropdown-item>
    <ave-dropdown-item>1dsf</ave-dropdown-item>
    <ave-dropdown-item>1dsf</ave-dropdown-item>
  </ave-dropdown-group>
</ave-dropdown>
