@import "../../../components-base/button/button";
@import "../base";
@import "../palette";
@import "../typography";
@import "../shape";

// State dictionary
$ave-button-state-map: (
  none,
  active,
  hover,
  focus,
  visited
);

// Property dictionary
$ave-button-property-map: (
  background-color,
  color,
  font,
  padding
);
$ave-button-theme-ingredient: ();
// Define a theme.

// Color
$ave-button-theme-palette: (
  default: ave-ingredient-state(ave-palette($ave-palette-indigo),$ave-button-state-map,$ave-button-property-map),
  primary: ave-palette($ave-palette-blue),
  secondary: ave-palette($ave-palette-light-blue),
  success: ave-palette($ave-palette-green),
  info: ave-palette($ave-palette-cyan),
  warning: ave-palette($ave-palette-deep-orange),
  danger: ave-palette($ave-palette-red),
  link: ave-palette($ave-palette-grey)
);

// Typography.
$ave-button-theme-typography: (
  default: ave-typography($ave-typography-yahei),
  primary: ave-typography($ave-typography-yahei),
  secondary: ave-typography($ave-typography-yahei),
  success: ave-typography($ave-typography-yahei),
  info: ave-typography($ave-typography-yahei),
  warning: ave-typography($ave-typography-yahei),
  danger: ave-typography($ave-typography-yahei),
  link: ave-typography($ave-typography-yahei)
);

// Frame.
$ave-button-theme-shape: (
  default: ave-shape($ave-shape-ratio-dot618),
  primary: ave-shape($ave-shape-ratio-1dot618),
  secondary: ave-shape($ave-shape-ratio-1dot618),
  success: ave-shape($ave-shape-ratio-1dot618),
  info: ave-shape($ave-shape-ratio-1dot618),
  warning: ave-shape($ave-shape-ratio-1dot618),
  danger: ave-shape($ave-shape-ratio-1dot618),
  link: ave-shape($ave-shape-ratio-1dot618)
);

$ave-button-theme: (
  $ave-button-theme-palette,
  $ave-button-theme-typography,
  $ave-button-theme-shape
);



