<section>
  <h1>Material properties </h1>
  <h1>Material的属性</h1>
  <h4> Material has certain immutable characteristics and inherent behaviors. </h4>
  <h4>Material有特定的属性和继承性的行为</h4>
  <ave-grid-row [amount]="12" [gutter]="0">
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <p>Understanding these qualities of material will help you manipulate material in a way that’s consistent with the
        vision of material design.</p>
      <p>理解这些material的特质，有助于你按照material design设想的方式来构成不同的material对象。</p>
    </ave-grid-column>
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <h6>Material characteristics</h6>
      <h6>Material的特质</h6>
      <span>Solid</span>
      <span>立体的</span>
      <br>
      <span>Occupies unique points in space</span>
      <span>在空间中的位置唯一</span>
      <br>
      <span>Impenetrable</span>
      <span>不可透视</span>
      <br>
      <span> Mutable shape</span>
      <span> 形状可变</span>
      <br>
      <span>Changes in size only along its plane</span>
      <span>仅在自身的平面上改变大小</span>
      <br>
      <span>Unbendable</span>
      <span>不可弯曲</span>
      <br>
      <span> Can join to other material</span>
      <span> 能够合成到其他的material对象中</span>
      <br>
      <span> Can separate, split, and heal</span>
      <span> 可以分离、拆分和恢复</span>
      <br>
      <span> Can be created or destroyed</span>
      <span> 能够创建和删除</span>
      <br>
      <span> Moves along any axis</span>
      <span> 在任意轴上运动</span>
    </ave-grid-column>
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <img class="img" alt=""
           src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B7WCemMG6e0VU1RSV0tORnl5a2M/what_is_material_material_properties.png">

    </ave-grid-column>
  </ave-grid-row>
</section>


<section>
  <nav>
    <h1>Contents</h1>
    <h1>目录</h1>
    <ul>
      <li><a> Physical properties </a></li>
      <li><a> 物理特性 </a></li>
      <li><a> Transforming material </a></li>
      <li><a> 转换material对象 </a></li>
      <li><a> Movement of material </a></li>
      <li><a> 移动material对象 </a></li>
    </ul>
  </nav>
</section>
<section>
  <h1> Physical properties </h1>
  <h1>物理特性</h1>
  <ave-grid-row [amount]="12" [gutter]="1">
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <p>Material has varying x & y dimensions (measured in dp) and a uniform thickness (1dp). </p>
      <p>Material具有不同的x、y轴线（单位为dp）和一个唯一的厚度（1dp）</p>
    </ave-grid-column>
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <img class="img" alt=""
           src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B8v7jImPsDi-aTBFT1FDVEstenM/whatismaterial_materialproperties_physicalproperties_thickness_01_yes.png">
      <span>Do.</span>
      <span>建议的做法</span>
      <span>The height and width of material can vary.</span>
      <span>Material对象的长度和宽度可以不同</span>
    </ave-grid-column>
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <img class="img" alt=""
           src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B8v7jImPsDi-Sno0Qy1FY3UtaFk/whatismaterial_materialproperties_physicalproperties_thickness_02_no.png">
      <span>不建议的做法</span>
      <span>Material is always 1dp thick.</span>
      <span>Material对象永远只有1dp的厚度</span>
    </ave-grid-column>
  </ave-grid-row>
  <ave-grid-row [amount]="12" [gutter]="1">
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <p>Material casts shadows.</p>
      <p>Material对象产生阴影</p>
      <p>Shadows result naturally from the relative elevation (z-position) between material elements.</p>
      <p>阴影根据相对其他material对象的高度（z轴的位置）生成。</p>
    </ave-grid-column>
    <ave-grid-column [xs.span]="12" [md.span]="8">
      <video class="video" controls="controls" aria-describedby="physical-properties-figure-caption-4" loop=""
             preload="auto" tabindex="0">
        <source
          src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B6Okdz75tqQsRGhTci1mN2dWUW8/inline whatismaterial-materialprop-physicalprop-PaperShadow_02_xhdpi_008.webm"
          type="video/webm">
        <source
          src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B6Okdz75tqQsaVFKVXI0RUFOWTg/inline whatismaterial-materialprop-physicalprop-PaperShadow_02_xhdpi_008.mp4"
          type="video/mp4">
      </video>
      <span>Do.</span>
      <span>建议的操作方式</span>
      <span>Shadows depict the relative elevation between material elements.</span>
      <span>阴影刻画了在不同material元素之间的相对高度</span>

      <video class="video" controls="controls" aria-describedby="physical-properties-figure-caption-4" loop=""
             preload="auto" tabindex="0">
        <source
          src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B6Okdz75tqQsRGhTci1mN2dWUW8/inline whatismaterial-materialprop-physicalprop-PaperShadow_02_xhdpi_008.webm"
          type="video/webm">
        <source
          src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B6Okdz75tqQsaVFKVXI0RUFOWTg/inline whatismaterial-materialprop-physicalprop-PaperShadow_02_xhdpi_008.mp4"
          type="video/mp4">
      </video>
      <span>Don't.</span>
      <span>不建议的操作方式</span>
      <span>Shadows are never approximated by coloring material.</span>
      <span>阴影永远不要采用与material元素相近的颜色。</span>
    </ave-grid-column>
  </ave-grid-row>
  <ave-grid-row [amount]="12" [gutter]="1">
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <p>Content is displayed on material, in any shape and color. Content does not add thickness to material.</p>
      <p>内容在material对象上显示，能够具有任意的形状和颜色。但是内容并不增加material对象的厚度。</p>
    </ave-grid-column>
    <ave-grid-column [xs.span]="12" [md.span]="8">
      <video class="video" controls="controls" aria-describedby="physical-properties-figure-caption-5" loop=""
             preload="auto" tabindex="0">
        <source
          src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B6Okdz75tqQsaGVXTFRCVG1iU2M/whatismaterial-materialprop-physicalprop-InkDisplay_xhdpi_006.webm"
          type="video/webm">
        <source
          src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B6Okdz75tqQsUGtDSTgtekFORGs/whatismaterial-materialprop-physicalprop-InkDisplay_xhdpi_006.mp4"
          type="video/mp4">
      </video>
      <span>Do.</span>
      <span>建议的操作方式</span>
      <span>Material can display any shape and color.</span>
      <span>Material对象可以显示任意的形状和颜色。</span>
    </ave-grid-column>
  </ave-grid-row>
  <ave-grid-row [amount]="12" [gutter]="1">
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <p>Content can behave independently of the material, but is limited within the bounds of the material.</p>
      <p>内容能够在material对象上具备独立的行为，但是仅仅限于在material对象的边界范围内。</p>
    </ave-grid-column>
    <ave-grid-column [xs.span]="12" [md.span]="8">

      <video aria-describedby="physical-properties-figure-caption-6" loop="" preload="auto" tabindex="0">
        <source
          src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B6Okdz75tqQsdnpyMjVKeFNvVm8/whatismaterial-materialprop-physicalprop-InkBehavior_xhdpi_006.webm"
          type="video/webm">
        <source
          src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B6Okdz75tqQsT2ZXakpkaGp4bzQ/whatismaterial-materialprop-physicalprop-InkBehavior_xhdpi_006.mp4"
          type="video/mp4">
      </video>

      <span>Do.</span>
      <span>建议的操作方式</span>
      <span>Content behavior can be independent of the behavior of material.</span>
      <span>内容在material对象上的行为是独立的。</span>
    </ave-grid-column>
  </ave-grid-row>
  <ave-grid-row [amount]="12" [gutter]="1">
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <p>Material is solid.</p>
      <p>Material对象是不能穿透的。</p>
      <p>Input events cannot pass through material.</p>
      <p>输入事件不能穿透material对象。</p>
    </ave-grid-column>
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <img class="img" alt="" aria-describedby="physical-properties-figure-caption-7"
           src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B0iWdZjcphyMeTJkV0N5by1vTXc/whatismaterial_properties_physical3.png">

      <span>Do.</span>
      <span>建议的操作方式</span>
      <span>Input events only affect the foreground material.</span>
      <span>输入时间进近印象前景的material对象。</span>
    </ave-grid-column>
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <img class="img" alt="" aria-describedby="physical-properties-figure-caption-8"
           src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B0iWdZjcphyMbV9BRUdVWFdvdTA/whatismaterial_properties_physical4.png">
      <span>Don't.</span>
      <span>不建议的操作方式</span>
      <span>Input events cannot pass through material.</span>
      <span>输入时间不能穿透material元素</span>
    </ave-grid-column>
  </ave-grid-row>

  <ave-grid-row [amount]="12" [gutter]="1">
      <ave-grid-column [xs.span]="12" [md.span]="4">
        <p>Multiple material elements cannot occupy the same point in space simultaneously.</p>
        <p>多个material元素不能同时在控件中占用同样的位置点</p>
      </ave-grid-column>
      <ave-grid-column [xs.span]="12" [md.span]="4">
        <img class="img" alt="" aria-describedby="physical-properties-figure-caption-7"
             src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0Bx4BSt6jniD7aVhXV0EtZ29OSU0/whatismaterial_properties_physical5.png">

        <span>Do.</span>
        <span>建议的操作方式</span>
        <p>Using elevation to separate material elements is one method of preventing multiple material elements from
          occupying the same point in space simultaneously.
        </p>
        <p>使用统一的高度划分方式来区分不同的material元素，防止多个material元素在空间中同时占用一个点</p>
      </ave-grid-column>
      <ave-grid-column [xs.span]="12" [md.span]="4">
        <img class="img" alt="" aria-describedby="physical-properties-figure-caption-8"
             src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0Bx4BSt6jniD7UFdUMnRKaW5PSXM/whatismaterial_properties_physical6.png">
        <span>Don't.</span>
        <span>不建议的操作方式</span>
        <span>Multiple material elements cannot occupy the same point in space simultaneously.</span>
        <span>多个material元素不能同时在空间中占用同一个位置点。</span>
      </ave-grid-column>
    </ave-grid-row>
</section>
