<section>
  <h1>Material properties </h1>
  <h1>Material的属性</h1>
  <h4> Material has certain immutable characteristics and inherent behaviors. </h4>
  <h4>Material有特定的属性和继承性的行为</h4>
  <ave-grid-row [amount]="12" [gutter]="0">
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <p>Understanding these qualities of material will help you manipulate material in a way that’s consistent with the
        vision of material design.</p>
      <p>理解这些material的特质，有助于你按照material design设想的方式来构成不同的material对象。</p>
    </ave-grid-column>
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <h6>Material characteristics</h6>
      <h6>Material的特质</h6>
      <span>Solid</span>
      <span>立体的</span>
      <br>
      <span>Occupies unique points in space</span>
      <span>在空间中的位置唯一</span>
      <br>
      <span>Impenetrable</span>
      <span>不可透视</span>
      <br>
      <span> Mutable shape</span>
      <span> 形状可变</span>
      <br>
      <span>Changes in size only along its plane</span>
      <span>仅在自身的平面上改变大小</span>
      <br>
      <span>Unbendable</span>
      <span>不可弯曲</span>
      <br>
      <span> Can join to other material</span>
      <span> 能够合成到其他的material对象中</span>
      <br>
      <span> Can separate, split, and heal</span>
      <span> 可以分离、拆分和恢复</span>
      <br>
      <span> Can be created or destroyed</span>
      <span> 能够创建和删除</span>
      <br>
      <span> Moves along any axis</span>
      <span> 在任意轴上运动</span>
    </ave-grid-column>
    <ave-grid-column [xs.span]="12" [md.span]="4">
      <img class="img" alt=""
           src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B7WCemMG6e0VU1RSV0tORnl5a2M/what_is_material_material_properties.png">

    </ave-grid-column>
  </ave-grid-row>
</section>


