@import "../core/avengers.core";
@import "../core/variables";

.v-button {
  @extend %v-control;

  justify-content: center;
  align-items: center;
  padding: $control-padding;
  user-select: none;
  cursor: pointer;
  background-color: map-get($btn-back-color, default);
  color: map-get($btn-fore-color, default);
}
