@import "../../../../components/panelbar/panelbar-item.component";
@import "../../../base";
@import "../../../palette";
@import "../../../typography";
@import "../../../shape";
@import "panelbar.theme";

// State dictionary
$ave-panelbar-item-container-ingredient-map: (

  shape: (
    scene: (default, primary, secondary, success, info, warning, danger, link,),
    state: (base, active, hover, focus),
    property: (padding),
  ),
);




// Shape.
$ave-panelbar-item-shape: (
  default: ave-shape($ave-shape-ratio-dot618, 50, 50, 400),
  primary: ave-shape($ave-shape-ratio-dot618, 50, 50, 400),
  secondary: ave-shape($ave-shape-ratio-dot618, 50, 50, 400),
  success: ave-shape($ave-shape-ratio-dot618, 50, 50, 400),
  info: ave-shape($ave-shape-ratio-dot618, 50, 50, 400),
  warning: ave-shape($ave-shape-ratio-dot618, 50, 50, 400),
  danger: ave-shape($ave-shape-ratio-dot618, 50, 50, 400),
  link: ave-shape($ave-shape-ratio-dot618, 50, 50, 400),
);

$ave-panelbar-item-theme: (
  shape: $ave-panelbar-item-shape
);

@mixin ave-panelbar-item-container-style($theme) {
  @each $ingredient, $style-map in $ave-panelbar-item-container-ingredient-map {
    $ingredient-style: map_get($theme, $ingredient);
    $scene-map: map_get($style-map, scene);
    $state-map: map_get($style-map, state);
    $property-map: map_get($style-map, property);
    .#{$ave-prefix}-panelbar-item {
      @include ave-component-scene-style($ingredient-style, $scene-map, $state-map, $property-map);
      z-index: $ave-panelbar-elevation;
    }
  }
}

@mixin ave-panelbar-item-style() {
  @include ave-panelbar-item-container-style($ave-panelbar-item-theme);
}

