@import "../variables";

.v-control {
  display: inline-flex;
  padding: $control-padding;
  overflow: hidden;
}

.v-container {
  display: flex;
}

.v-link {
  display: inline-flex;
}

.v-btn {
  @extend .v-control;

  justify-content: center;
  align-items: center;
  padding: $control-padding;
  user-select: none;
  cursor: pointer;
}

@mixin ave-truncate-line() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
