@import "../variables";

.v-control {
  display: inline-flex;
  padding: $control-padding;
  overflow: hidden;
}

.v-container {
  display: flex;
}

.v-link {
  display: inline-flex;
}

.v-control .v-btn {
  justify-content: center;
  align-items: center;
  padding: $control-padding;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  user-select: none;
  cursor: pointer;

}
