$ave-shape-ratio-dot5: (
  50: 0,
  100: 0.25em 0.25em*0.5,
  200: 0.5em 0.5em*0.5,
  300: 0.75em 0.75em*0.5,
  400: 1em 1em*0.5,
  500: 1.25em 1.25em*0.5,
  600: 1.5em 1.5em*0.5,
  700: 1.75em 1.75em*0.5,
  800: 2em 2em*0.5,
  900: 2.25em 2.25em*0.5
);
$ave-shape-ratio-dot618: (
  50: 0,
  100: 0.25em 0.25em*0.618,
  200: 0.5em 0.5em*0.618,
  300: 0.75em 0.75em*0.618,
  400: 1em 1em*0.618,
  500: 1.25em 1.25em*0.618,
  600: 1.5em 1.5em*0.618,
  700: 1.75em 1.75em*0.618,
  800: 2em 2em*0.618,
  900: 2.25em 2.25em*0.618
);

$ave-shape-ratio-1: (
  50: 0,
  100: 0.25em,
  200: 0.5em,
  300: 0.75em,
  400: 1em,
  500: 1.25em,
  600: 1.5em,
  700: 1.75em,
  800: 2em,
  900: 2.25em
);

$ave-shape-ratio-1dot618: (
  50: 0,
  100: 0.125em 0.125em*1.618,
  200: 0.25em 0.25em*1.618,
  300: 0.375em 0.375em*1.618,
  400: 0.5em 0.5em*1.618,
  500: 0.625em 0.625em*1.618,
  600: 0.75em 0.75em*1.618,
  700: 0.875em 0.875em*1.618,
  800: 1em 1em*1.618,
  900: 1.125em 1.125em*1.618
);

$ave-shape-ratio-2: (
  50: 0,
  100: 0.125em 0.125em*2,
  200: 0.25em 0.25em*2,
  300: 0.375em 0.375em*2,
  400: 0.5em 0.5em*2,
  500: 0.625em 0.625em*2,
  600: 0.75em 0.75em*2,
  700: 0.875em 0.875em*2,
  800: 1em 1em*2,
  900: 1.125em 1.125em*2
);

@function ave-shape($base-sizing, $default: 400, $tighter: 200, $looser: 700) {
  $result: (
    base: (
      padding: map_get($base-sizing, $default),
      outline: none,
    ),
    active: (
      padding: map_get($base-sizing, $default),
      outline: #bdbdbd solid 2px,
    ),
    hover: (
      padding: map_get($base-sizing, $default),
      outline: #bdbdbd solid 2px,
    ),
    focus: (
      padding: map_get($base-sizing, $default),
      outline: #eeeeee solid 2px,
    ),
    visited:(
      padding: map_get($base-sizing, $default),
      outline: #eeeeee solid 2px,
    )
  );
  @return $result;
}
