$font-family-yahei: "Microsoft YaHei UI", "Helvetica Neue", sans-serif;
$font-family-yahei-thin: "Microsoft YaHei Light", "Helvetica Neue", sans-serif;
$font-family-google: DroidSans, "Helvetica Neue", sans-serif;
$font-family-apple: STHeiti, "Helvetica Neue", sans-serif;

$ave-typography-yahei: (
  50: normal 100 1em/1em $font-family-yahei-thin,
  100: normal 100 1em/1em $font-family-yahei,
  200: normal 200 1em/1em $font-family-yahei,
  300: normal 300 1em/1em $font-family-yahei,
  400: normal 400 1em/1em $font-family-yahei,
  500: normal 500 1em/1em $font-family-yahei,
  600: normal 600 1em/1em $font-family-yahei,
  700: normal 700 1em/1em $font-family-yahei,
  800: normal 800 1em/1em $font-family-yahei,
  900: normal 900 1em/1em $font-family-yahei
);

@function ave-typography($base-typography, $default: 400, $thinner: 200, $thicker: 700) {
  $result: (
    base: (
      font: map-get($base-typography, $default)
    ),
    active: (
      font: map-get($base-typography, $default)
    ),
    hover: (
      font: map-get($base-typography, $default)
    ),
    focus: (
      font: map-get($base-typography, $default)
    ),
    visited: (
      font: map-get($base-typography, $default)
    )
  );
  @return $result;
}
