@import "base";

%v-container {
  display: block;
  position: relative;
}
%v-control {
  display: inline-block;
  position: relative;
}

%v-popover {
  display: block;
  position: absolute;
}

%#{$ave-prefix}-acrylic {
  display: block;
}
$key-light-color: #ffffff;
