@import "../../styles/theme/default/base";


:host {
  display: flex;
  height: 3em;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  min-width: 8em;
  background-color: $item-background-color;
  color: $item-color;
  outline: none;
}

:host:hover {
  background-color: $item-hover-background-color;
}

div {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  outline: none;
}
ave-popup {
  display: flex;
  flex-flow: row;
}
span {
  display: flex;
}
i {
  display: flex;
  font-size: 0.5em;
  margin-left: 1em;
}
