<ave-grid-row>
  <ave-grid-column class="brand">
    <img src="../assets/brand.svg" alt="brand">
  </ave-grid-column>
  <ave-grid-column class="navbar">
  </ave-grid-column>
</ave-grid-row>
<ave-grid-row>
  <ave-grid-column class="side-menu">
    <a routerLink="/tabstrip-demo" routerLinkActive="active">TabstripComponent</a>
    <a routerLink="/button-demo" routerLinkActive="active">ButtonComponent</a>
    <a routerLink="/popup-demo" routerLinkActive="active">PopupComponent</a>
    <a routerLink="/dropdown-demo" routerLinkActive="active">DropdownComponent</a>
    <a routerLink="/menu-demo" routerLinkActive="active">MenuComponent</a>
    <a routerLink="/megamenu-demo" routerLinkActive="active">MegamenuComponent</a>
  </ave-grid-column>
  <ave-grid-column class="content">
    <router-outlet></router-outlet>
  </ave-grid-column>
</ave-grid-row>
