<ave-grid-row>
  <ave-grid-column class="brand">
    <img src="../assets/brand.svg" alt="brand">
  </ave-grid-column>
  <ave-grid-column class="navbar">
  </ave-grid-column>
</ave-grid-row>
<ave-grid-row>
  <ave-grid-column class="side-menu">
    <a routerLink="/tabstrip-demo" routerLinkActive="active">Tabstrip</a>
    <a routerLink="/button-demo" routerLinkActive="active">Button</a>
    <a routerLink="/popup-demo" routerLinkActive="active">Popup</a>
    <a routerLink="/dropdown-demo" routerLinkActive="active">Dropdown</a>
    <a routerLink="/menu-demo" routerLinkActive="active">Menu</a>
    <a routerLink="/megamenu-demo" routerLinkActive="active">Megamenu</a>
  </ave-grid-column>
  <ave-grid-column class="content">
    <router-outlet></router-outlet>
  </ave-grid-column>
</ave-grid-row>
