<ave-tabstrip>
  <ave-tabstrip-bar>
    <ave-tabstrip-tab [page]="page1">One</ave-tabstrip-tab>
    <ave-tabstrip-tab [page]="page2">Two</ave-tabstrip-tab>
    <ave-tabstrip-tab [page]="page3">Three</ave-tabstrip-tab>
    <ave-tabstrip-addon><button>Addon</button></ave-tabstrip-addon>
    <ave-tabstrip-toggle></ave-tabstrip-toggle>
  </ave-tabstrip-bar>
  <ave-tabstrip-panel>
    <ave-tabstrip-page #page1>First Page</ave-tabstrip-page>
    <ave-tabstrip-page #page2>Second Page</ave-tabstrip-page>
    <ave-tabstrip-page #page3>Third Page</ave-tabstrip-page>
  </ave-tabstrip-panel>
</ave-tabstrip>
