<ave-tabstrip>
  <ave-tabstrip-bar>
    <ave-tabstrip-tab #tab1>One</ave-tabstrip-tab>
    <ave-tabstrip-tab #tab2>Two</ave-tabstrip-tab>
    <ave-tabstrip-tab #tab3>Three</ave-tabstrip-tab>
    <ave-tabstrip-addon><button>asdfdsafsasadfsad</button></ave-tabstrip-addon>
    <ave-tabstrip-toggle></ave-tabstrip-toggle>

  </ave-tabstrip-bar>
  <ave-tabstrip-panel>
    <ave-tabstrip-page [parentTab]="tab1">First Page</ave-tabstrip-page>
    <ave-tabstrip-page [parentTab]="tab2">Second Page</ave-tabstrip-page>
    <ave-tabstrip-page [parentTab]="tab3">Third Page</ave-tabstrip-page>
  </ave-tabstrip-panel>
</ave-tabstrip>
