@import "../../../base";
@import "../../../palette";
@import "../../../typography";
@import "../../../shape";
@import "dropdown.theme";

// State dictionary
$ave-dropdown-icon-container-ingredient-map: (
  //palette: (
  //  scene: (default, primary, secondary, success, info, warning, danger, link,),
  //  state: (base, active, hover, focus),
  //  property: (outline-color,),
  //),
  shape: (
    scene: (default, primary, secondary, success, info, warning, danger, link,),
    state: (base, active, hover, focus),
    property: (padding),
  ),
);

$ave-dropdown-icon-ground-ingredient-map: (
  palette: (
    scene: (default, primary, secondary, success, info, warning, danger, link,),
    state: (base),
    property: (background-color),
  ),
);
$ave-dropdown-icon-light-ingredient-map: (
  palette: (
    scene: (default, primary, secondary, success, info, warning, danger, link,),
    state: (active, hover, focus),
    property: (background-color),
  ),
);
$ave-dropdown-icon-content-ingredient-map: (
  palette: (
    scene: (default, primary, secondary, success, info, warning, danger, link,),
    state: (base, active, hover, focus),
    property: (color,),
  ),
  typography: (
    scene: (default, primary, secondary, success, info, warning, danger, link,),
    state: (base, active, hover, focus),
    property: (font,),
  ),
);

// Color
$ave-dropdown-icon-palette: (
  default: ave-palette($ave-palette-grey),
  primary: ave-palette($ave-palette-blue),
  secondary: ave-palette($ave-palette-pink),
  success: ave-palette($ave-palette-green),
  info: ave-palette($ave-palette-cyan),
  warning: ave-palette($ave-palette-deep-orange),
  danger: ave-palette($ave-palette-red),
  link: ave-palette($ave-palette-white)
);
// Typography.
$ave-dropdown-icon-typography: (
  default: ave-typography($ave-typography-yahei),
  primary: ave-typography($ave-typography-yahei),
  secondary: ave-typography($ave-typography-yahei),
  success: ave-typography($ave-typography-yahei),
  info: ave-typography($ave-typography-yahei),
  warning: ave-typography($ave-typography-yahei),
  danger: ave-typography($ave-typography-yahei),
  link: ave-typography($ave-typography-yahei)
);
// Shape.
$ave-dropdown-icon-shape: (
  default: ave-shape($ave-shape-ratio-1, 200, 50, 400),
  primary: ave-shape($ave-shape-ratio-1, 200, 50, 400),
  secondary: ave-shape($ave-shape-ratio-1, 200, 50, 400),
  success: ave-shape($ave-shape-ratio-1, 200, 50, 400),
  info: ave-shape($ave-shape-ratio-1, 200, 50, 400),
  warning: ave-shape($ave-shape-ratio-1, 200, 50, 400),
  danger: ave-shape($ave-shape-ratio-1, 200, 50, 400),
  link: ave-shape($ave-shape-ratio-1, 200, 50, 400),
);

$ave-dropdown-icon-theme: (
  palette: $ave-dropdown-icon-palette,
  typography: $ave-dropdown-icon-typography,
  shape: $ave-dropdown-icon-shape
);
@mixin ave-dropdown-icon-ground-style($theme) {
  @each $ingredient, $style-map in $ave-dropdown-icon-ground-ingredient-map {
    $ingredient-style: map_get($theme, $ingredient);
    $scene-map: map_get($style-map, scene);
    $state-map: map_get($style-map, state);
    $property-map: map_get($style-map, property);

    @each $scene in $scene-map {
      $scene-style: map_get($ingredient-style, $scene);
      .#{$ave-prefix}-dropdown-#{$scene} {
        @each $state in $state-map {
          $state-style: map_get($scene-style, $state);
          @if ($state == base) {
            & > .v-dropdown-icon {
              & > .v-arcylic-ground {
                z-index: $ave-dropdown-elevation - 3;
                @include ave-component-property-style($state-style, $property-map);
              }
            }
          } @else {
            & > .v-dropdown-icon:#{$state} {
              & > .v-arcylic-ground {
                z-index: $ave-dropdown-elevation - 3;
                @include ave-component-property-style($state-style, $property-map);
              }
            }
          }
        }
      }
    }
  }

}

@mixin ave-dropdown-icon-light-style($theme) {
  @each $ingredient, $style-map in $ave-dropdown-icon-light-ingredient-map {
    $ingredient-style: map_get($theme, $ingredient);
    $scene-map: map_get($style-map, scene);
    $state-map: map_get($style-map, state);
    $property-map: map_get($style-map, property);

    @each $scene in $scene-map {
      $scene-style: map_get($ingredient-style, $scene);
      .#{$ave-prefix}-dropdown-#{$scene} {
        @each $state in $state-map {
          $state-style: map_get($scene-style, $state);
          @if ($state == base) {
            & > .v-dropdown-icon {
              & > .v-arcylic-light {
                z-index: $ave-dropdown-elevation - 2;
                background-color: transparent;
              }
            }
          } @else {
            & > .v-dropdown-icon:#{$state} {
              & > .v-arcylic-light {
                z-index: $ave-dropdown-elevation - 2;
                background-color: rgba($ambient-light-color, $ambient-light-ratio);
              }
            }
          }
        }
      }
    }
  }
}

@mixin ave-dropdown-icon-content-style($theme) {
  .v-dropdown-icon {
    &>.material-content {
      color: $ave-default-content-color;
    }
  }
  @each $ingredient, $style-map in $ave-dropdown-icon-content-ingredient-map {
    $ingredient-style: map_get($theme, $ingredient);
    $scene-map: map_get($style-map, scene);
    $state-map: map_get($style-map, state);
    $property-map: map_get($style-map, property);

    @each $scene in $scene-map {
      $scene-style: map_get($ingredient-style, $scene);
      .#{$ave-prefix}-dropdown-#{$scene} {
        @each $state in $state-map {
          $state-style: map_get($scene-style, $state);
          @if ($state == base) {
            & > .v-dropdown-icon {
              & > .v-arcylic-content {
                z-index: $ave-dropdown-elevation;
                @include ave-component-property-style($state-style, $property-map);
              }
            }
          } @else {
            & > .v-dropdown-icon:#{$state} {
              & > .v-arcylic-content {
                z-index: $ave-dropdown-elevation;
                @include ave-component-property-style($state-style, $property-map);
              }
            }
          }
        }
      }
    }
  }
}

@mixin ave-dropdown-icon-container-style($theme) {
  @each $ingredient, $style-map in $ave-dropdown-icon-container-ingredient-map {
    $ingredient-style: map_get($theme, $ingredient);
    $scene-map: map_get($style-map, scene);
    $state-map: map_get($style-map, state);
    $property-map: map_get($style-map, property);

    @each $scene in $scene-map {
      $scene-style: map_get($ingredient-style, $scene);
      .#{$ave-prefix}-dropdown-#{$scene} {
        @each $state in $state-map {
          $state-style: map_get($scene-style, $state);
          @if ($state == base) {
            & > .v-dropdown-icon {
              z-index: $ave-dropdown-elevation;

              @include ave-component-property-style($state-style, $property-map);
            }
          } @else {
            & > .v-dropdown-icon:#{$state} {
              z-index: $ave-dropdown-elevation;

              @include ave-component-property-style($state-style, $property-map);
            }
          }
        }
      }
    }
  }
}

@mixin ave-dropdown-icon-style() {

  @include ave-dropdown-icon-container-style($ave-dropdown-icon-theme);

  @include ave-dropdown-icon-content-style($ave-dropdown-icon-theme);

  @include ave-dropdown-icon-ground-style($ave-dropdown-icon-theme);

  @include ave-dropdown-icon-light-style($ave-dropdown-icon-theme);

}

