@import "../../theme/base";

.demo-brand {
  width: 100%;
  height: 8em;
  background-color: #313b3f;
  img {
    height:4em;
  }
  align-items: center;
}
.side-menu {
  background-color: #313b3f;
  width: 30%;
  height: 100%;
  float: left;
  a {
    color: white;
  }
}
.component-list {
  display: flex;
  flex-flow: column;
}
h3 {
  background-color: black;
  color: white;
  padding: 1em;
}
.demo-content {
  position: relative;
  width: 70%;
  height: 100%;
  overflow: auto;
}
.content-ground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -4;
  background-color: #eeeeee;

}
.demo-container {
  height: 100%;
  width: 100%;
}
.demo-content {
  height: 100%;
}
.theme-default {

}
a {
  margin-bottom: 0.5em;
}
