<ave-panelbar>
  <ave-panelbar-item [title]="'1'">
    <ave-panelbar-item [title]="'1.1'"></ave-panelbar-item>
    <ave-panelbar-content>
      <h1>content</h1>
    </ave-panelbar-content>
    <ave-panelbar-item [title]="'1.1'">
      <ave-panelbar-item [title]="'1.1.1'"></ave-panelbar-item>
      <ave-panelbar-item [title]="'1.1.1'"></ave-panelbar-item>
      <ave-panelbar-item [title]="'1.1.1'"></ave-panelbar-item>
      <ave-panelbar-item [title]="'1.1.1'"></ave-panelbar-item>
      <ave-panelbar-item [title]="'1.1.1'"></ave-panelbar-item>
    </ave-panelbar-item>
    <ave-panelbar-item [title]="'1.1'"></ave-panelbar-item>
    <ave-panelbar-item [title]="'1.1'"></ave-panelbar-item>
  </ave-panelbar-item>
  <ave-panelbar-item [title]="'1'">
    <ave-panelbar-item [title]="'1.1'"></ave-panelbar-item>
    <ave-panelbar-item [title]="'1.1'"></ave-panelbar-item>
  </ave-panelbar-item>
  <ave-panelbar-item [title]="'1'"></ave-panelbar-item>
  <ave-panelbar-item [title]="'1'"></ave-panelbar-item>
</ave-panelbar>
