<ave-panelbar>
  <ave-panelbar-item [title]="'1'">
    <ave-panelbar-item [title]="'1.1'"></ave-panelbar-item>
    <ave-panelbar-item [title]="'1.1'"></ave-panelbar-item>
    <ave-panelbar-item [title]="'1.1'"></ave-panelbar-item>
    <ave-panelbar-item [title]="'1.1'"></ave-panelbar-item>
  </ave-panelbar-item>
  <ave-panelbar-item [title]="'1'">
    <ave-panelbar-item [title]="'1.1'"></ave-panelbar-item>
    <ave-panelbar-item [title]="'1.1'"></ave-panelbar-item>
  </ave-panelbar-item>
  <ave-panelbar-item [title]="'1'"></ave-panelbar-item>
  <ave-panelbar-item [title]="'1'"></ave-panelbar-item>
</ave-panelbar>
