@import "../../../base";
@import "../../../palette";
@import "../../../typography";
@import "../../../shape";
@import "../../../elevation";

$ave-button-elevation: 2;

// Style dictionary
$ave-button-container-ingredient-map: (
  palette: (
    scene: (default, primary, secondary, success, info, warning, danger, link,),
    state: (base, active, hover, focus),
    property: (outline-color,),
  ),
  shape: (
    scene: (default, primary, secondary, success, info, warning, danger, link,),
    state: (base, active, hover, focus),
    property: (padding, outline-style, outline-width,),
  ),
);

$ave-button-ground-ingredient-map: (
  palette: (
    scene: (default, primary, secondary, success, info, warning, danger, link,),
    state: (base),
    property: (background-color),
  ),
);
$ave-button-light-ingredient-map: (
  palette: (
    scene: (default, primary, secondary, success, info, warning, danger, link,),
    state: (active, hover, focus),
    property: (background-color),
  ),
);
$ave-button-content-ingredient-map: (
  palette: (
    scene: (default, primary, secondary, success, info, warning, danger, link,),
    state: (base, active, hover, focus),
    property: (color,),
  ),
  typography: (
    scene: (default, primary, secondary, success, info, warning, danger, link,),
    state: (base, active, hover, focus),
    property: (font,),
  ),
);

// Color
$ave-button-palette: (
  default: ave-palette($ave-palette-black,50, 200, 50),
  primary: ave-palette($ave-palette-purple),
  secondary: ave-palette($ave-palette-pink),
  success: ave-palette($ave-palette-green),
  info: ave-palette($ave-palette-cyan),
  warning: ave-palette($ave-palette-deep-orange),
  danger: ave-palette($ave-palette-red),
  link: ave-palette($ave-palette-blue-grey)
);

// Typography.
$ave-button-typography: (
  default: ave-typography($ave-typography-yahei),
  primary: ave-typography($ave-typography-yahei),
  secondary: ave-typography($ave-typography-yahei),
  success: ave-typography($ave-typography-yahei),
  info: ave-typography($ave-typography-yahei),
  warning: ave-typography($ave-typography-yahei),
  danger: ave-typography($ave-typography-yahei),
  link: ave-typography($ave-typography-yahei)
);

// Shape.
$ave-button-shape: (
  default: ave-shape($ave-shape-ratio-1dot618),
  primary: ave-shape($ave-shape-ratio-1dot618),
  secondary: ave-shape($ave-shape-ratio-1dot618),
  success: ave-shape($ave-shape-ratio-1dot618),
  info: ave-shape($ave-shape-ratio-1dot618),
  warning: ave-shape($ave-shape-ratio-1dot618),
  danger: ave-shape($ave-shape-ratio-1dot618),
  link: ave-shape($ave-shape-ratio-1dot618)
);

//Define a theme
$ave-button-theme: (
  palette: $ave-button-palette,
  typography: $ave-button-typography,
  shape: $ave-button-shape,
);

@mixin ave-button-ground-style($theme) {
  @each $ingredient, $style-map in $ave-button-ground-ingredient-map {
    $ingredient-style: map_get($theme, $ingredient);
    $scene-map: map_get($style-map, scene);
    $state-map: map_get($style-map, state);
    $property-map: map_get($style-map, property);

    @each $scene in $scene-map {
      $scene-style: map_get($ingredient-style, $scene);
      .#{$ave-prefix}-button-#{$scene} {
        .v-arcylic-ground {
          @include ave-component-state-style($scene-style, $state-map, $property-map);
        }
      }
    }
  }

}

@mixin ave-button-light-style($theme) {
  @each $ingredient, $style-map in $ave-button-light-ingredient-map {
    $ingredient-style: map_get($theme, $ingredient);
    $scene-map: map_get($style-map, scene);
    $state-map: map_get($style-map, state);
    $property-map: map_get($style-map, property);

    @each $scene in $scene-map {
      $scene-style: map_get($ingredient-style, $scene);
      .#{$ave-prefix}-button-#{$scene} {
        @each $state in $state-map {
          $state-style: map_get($scene-style, $state);
          &:#{$state} {
            .v-arcylic-light {
              //background-color: rgba($ambient-light-color, $ambient-light-ratio);
              @include ave-component-property-style($state-style, $property-map);
            }
          }
        }
      }
    }
  }
}

@mixin ave-button-content-style($theme) {
  .v-button {
    .v-arcylic-content {
      color: $ave-default-content-color;
    }
  }
  @each $ingredient, $style-map in $ave-button-content-ingredient-map {
    $ingredient-style: map_get($theme, $ingredient);
    $scene-map: map_get($style-map, scene);
    $state-map: map_get($style-map, state);
    $property-map: map_get($style-map, property);

    @each $scene in $scene-map {
      $scene-style: map_get($ingredient-style, $scene);
      .#{$ave-prefix}-button-#{$scene} {
        .v-arcylic-content {
          @include ave-component-state-style($scene-style, $state-map, $property-map);
        }
      }
    }
  }
}

@mixin ave-button-container-style($theme) {
  @each $ingredient, $style-map in $ave-button-container-ingredient-map {
    $ingredient-style: map_get($theme, $ingredient);
    $scene-map: map_get($style-map, scene);
    $state-map: map_get($style-map, state);
    $property-map: map_get($style-map, property);
    .#{$ave-prefix}-button {
      @include ave-elevation(0);

      @include ave-component-scene-style($ingredient-style, $scene-map, $state-map, $property-map);
    }
  }
}

@mixin ave-button-style() {

  @include ave-button-container-style($ave-button-theme);

  @include ave-button-ground-style($ave-button-theme);

  @include ave-button-light-style($ave-button-theme);

  @include ave-button-content-style($ave-button-theme);


}
