<kendo-tabstrip>
  <kendo-tabstrip-tab class="strip" [title]="'Place Holder'" [selected]="true">
    <template kendoTabContent>
      <button kendoButton [primary]="true">Primary Button</button>
      <button kendoButton [primary]="true">Primary Button</button>
      <button kendoButton [primary]="true">Primary Button</button>
    </template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab class="strip" [title]="'New York'">
    <template kendoTabContent>
      <button kendoButton [primary]="true">Primary Button</button>
      <button kendoButton [primary]="true">Primary Button</button>
    </template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab class="strip" [title]="'New York'">
    <template kendoTabContent>
      <button kendoButton [primary]="true">Primary Button</button>
      <button kendoButton [primary]="true">Primary Button</button>
      <button kendoButton [primary]="true">Primary Button</button>
      <button kendoButton [primary]="true">Primary Button</button>
      <button kendoButton [primary]="true">Primary Button</button>
    </template>
  </kendo-tabstrip-tab>
</kendo-tabstrip>
