<h3>弹出层</h3>
<ave-button class="v-button-primary" #popdownAnchor (click)="onClick()">弹出</ave-button>
<ave-popup [@expand] [anchor]="popdownAnchor" [orientation]="down" *ngIf="showPopup">
  <div >
    <h1>这是一个弹出层</h1>
  </div>
</ave-popup>

<h3>嵌套的弹出层</h3>
<div class="main-container">
  <div class="container">
    <ave-button class="v-button-primary" #nestedAnchor (click)="onClickNested()">弹出</ave-button>
    <ave-popup [anchor]="nestedAnchor" [orientation]="down" *ngIf="showNested1">
      <ave-button class="v-button-secondary item">111111-----------------------</ave-button>
      <ave-button class="v-button-secondary item">1111111111</ave-button>
      <ave-button class="v-button-secondary item">111111</ave-button>
      <ave-button class="v-button-secondary item">11111111122221111</ave-button>
    </ave-popup>
  </div>
</div>
<pre>
  <h1>dddd</h1>
</pre>
