<h3>普通Button</h3>
<ave-button class="" [value]="'value'">Default</ave-button>
<ave-button class="v-button-primary" [value]="'value'">Primary</ave-button>
<ave-button class="v-button-success" [value]="'value'">Success</ave-button>
<ave-button class="v-button-info" [value]="'value'">Info</ave-button>
<ave-button class="v-button-warning" [value]="'value'">Warning</ave-button>
<ave-button class="v-button-danger" [value]="'value'">Danger</ave-button>
<ave-button class="v-button-link" [value]="'value'">Link</ave-button>


<h3>Split ButtonComponent</h3>
