<h3>Button</h3>
<ave-button class="" [value]="'value'">None</ave-button>
<ave-button #btn class="v-button-default" [value]="'value'">Default</ave-button>
<ave-button (click)="onClick()" class="v-button-primary" [value]="'value'">Primary</ave-button>
<ave-button class="v-button-secondary" [value]="'value'">Secondary</ave-button>
<ave-button class="v-button-success" [value]="'value'">Success</ave-button>
<ave-button class="v-button-info" [value]="'value'">Info</ave-button>
<ave-button class="v-button-warning" [value]="'value'">Warning</ave-button>
<ave-button class="v-button-danger" [value]="'value'">Danger</ave-button>
<ave-button class="v-button-link" [value]="'value'">Link</ave-button>

<h3>按钮</h3>
<ave-button class="" [value]="'value'">无样式</ave-button>
<ave-button class="v-button-default" [value]="'value'">默认</ave-button>
<ave-button class="v-button-primary" [value]="'value'">主要</ave-button>
<ave-button class="v-button-secondary" [value]="'value'">次要</ave-button>
<ave-button class="v-button-success" [value]="'value'">成功</ave-button>
<ave-button class="v-button-info" [value]="'value'">提示</ave-button>
<ave-button class="v-button-warning" [value]="'value'">警告</ave-button>
<ave-button class="v-button-danger" [value]="'value'">危险</ave-button>
<ave-button class="v-button-link" [value]="'value'">链接</ave-button>

<ave-markdown>
  <h1>dsasaf</h1>
</ave-markdown>
