<ave-ripple-element *ngFor="let rippleElementRef of rippleElementRefs"
                    [ripplePosition]="rippleElementRef.ripplePosition"
                    [rippleStyle]="rippleElementRef.rippleStyle"></ave-ripple-element>

<!--[@ripple]="rippleState"-->
<!--(@ripple.start)="rippleStart($event)"-->
<!--(@ripple.done)="rippleDone($event)"-->
<!--[style.top.px]="this.rippleElementPosition.top"-->
<!--[style.left.px]="this.rippleElementPosition.left"-->
<!--[style.width.px]="this.rippleElementStyle.width"-->
<!--[style.height.px]="this.rippleElementStyle.height"-->
