<ave-panelbar class="v-panelbar-default">
  <ave-panelbar-item class="v-panelbar-item-primary" [title]="'1'">
    <ave-panelbar-item class="v-panelbar-item-secondary" [title]="'1.1'"></ave-panelbar-item>
    <ave-panelbar-content>
      <h1>content</h1>
    </ave-panelbar-content>
    <ave-panelbar-item class="v-panelbar-item-primary"  [title]="'1.1'">
      <ave-panelbar-item class="v-panelbar-item-default" [title]="'1.1.1'"></ave-panelbar-item>
      <ave-panelbar-item  class="v-panelbar-item-primary" [title]="'1.1.1'"></ave-panelbar-item>
      <ave-panelbar-item  class="v-panelbar-item-secondary" [title]="'1.1.1'"></ave-panelbar-item>
      <ave-panelbar-item class="v-panelbar-item-success" [title]="'1.1.1'"></ave-panelbar-item>
      <ave-panelbar-item class="v-panelbar-item-info" [title]="'1.1.1'"></ave-panelbar-item>
      <ave-panelbar-item class="v-panelbar-item-warning" [title]="'1.1.1'"></ave-panelbar-item>
      <ave-panelbar-item class="v-panelbar-item-danger" [title]="'1.1.1'"></ave-panelbar-item>
      <ave-panelbar-item class="v-panelbar-item-link" [title]="'1.1.1'"></ave-panelbar-item>
    </ave-panelbar-item>
    <ave-panelbar-item [title]="'1.1'"></ave-panelbar-item>
    <ave-panelbar-item [title]="'1.1'"></ave-panelbar-item>
  </ave-panelbar-item>
  <ave-panelbar-item [title]="'1'">
    <ave-panelbar-item [title]="'1.1'"></ave-panelbar-item>
    <ave-panelbar-item [title]="'1.1'"></ave-panelbar-item>
  </ave-panelbar-item>
  <ave-panelbar-item class="v-panelbar-item-primary" [title]="'1'"></ave-panelbar-item>
  <ave-panelbar-item class="v-panelbar-item-secondary" [title]="'1'"></ave-panelbar-item>
  <ave-panelbar-item class="v-panelbar-item-success" [title]="'1'"></ave-panelbar-item>
  <ave-panelbar-item class="v-panelbar-item-info" [title]="'1'"></ave-panelbar-item>
  <ave-panelbar-item class="v-panelbar-item-warning" [title]="'1'"></ave-panelbar-item>
  <ave-panelbar-item class="v-panelbar-item-danger" [title]="'1'"></ave-panelbar-item>
  <ave-panelbar-item class="v-panelbar-item-link" [title]="'1'"></ave-panelbar-item>
</ave-panelbar>
