<ave-panel class="container">
  <ave-panelbar class="v-panelbar-primary panelbar">
    <ave-panelbar-item class="v-panelbar-item-default" [title]="'1'">
      <ave-panelbar-item class="v-panelbar-item-secondary" [title]="'1.1'">
        <ave-panelbar-item class="v-panelbar-item-secondary" [title]="'1.1.1'"></ave-panelbar-item>
        <ave-panelbar-item class="v-panelbar-item-secondary" [title]="'1.1.2'"></ave-panelbar-item>
      </ave-panelbar-item>
      <ave-panelbar-item class="v-panelbar-item-primary" [title]="'1.2'">
        <ave-panelbar-item class="v-panelbar-item-secondary" [title]="'1.2.2'"></ave-panelbar-item>
        <ave-panelbar-item class="v-panelbar-item-secondary" [title]="'1.2.3'"></ave-panelbar-item>
        <ave-panelbar-item class="v-panelbar-item-secondary" [title]="'1.2.4'"></ave-panelbar-item>
        <ave-panelbar-item class="v-panelbar-item-secondary" [title]="'1.2.5'"></ave-panelbar-item>
        <ave-panelbar-item class="v-panelbar-item-secondary" [title]="'1.2.6'"></ave-panelbar-item>
      </ave-panelbar-item>
    </ave-panelbar-item>
    <ave-panelbar-item class="v-panelbar-item-secondary" [title]="'3'"></ave-panelbar-item>
    <ave-panelbar-item class="v-panelbar-item-success" [title]="'4'"></ave-panelbar-item>
    <ave-panelbar-item class="v-panelbar-item-info" [title]="'5'"></ave-panelbar-item>
    <ave-panelbar-item class="v-panelbar-item-warning" [title]="'6'"></ave-panelbar-item>
    <ave-panelbar-item class="v-panelbar-item-danger" [title]="'7'"></ave-panelbar-item>
    <ave-panelbar-item class="v-panelbar-item-link" [title]="'8'"></ave-panelbar-item>
  </ave-panelbar>
</ave-panel>
