<ave-panel class="material-container">
  <ave-panelbar class="v-panelbar-primary material-panelbar">
    <ave-panelbar-item class="v-panelbar-item-default" [title]="'1'">
      <ave-panelbar-item class="v-panelbar-item-default" [title]="'1.1'">
        <ave-panelbar-item class="v-panelbar-item-default" [title]="'1.1.1'"></ave-panelbar-item>
        <ave-panelbar-item class="v-panelbar-item-default" [title]="'1.1.2'"></ave-panelbar-item>
      </ave-panelbar-item>
      <ave-panelbar-item class="v-panelbar-item-default" [title]="'1.2'">
        <ave-panelbar-item class="v-panelbar-item-default" [title]="'1.2.2'"></ave-panelbar-item>
        <ave-panelbar-item class="v-panelbar-item-default" [title]="'1.2.3'"></ave-panelbar-item>
        <ave-panelbar-item class="v-panelbar-item-default" [title]="'1.2.4'"></ave-panelbar-item>
        <ave-panelbar-item class="v-panelbar-item-default" [title]="'1.2.5'"></ave-panelbar-item>
        <ave-panelbar-item class="v-panelbar-item-default" [title]="'1.2.6'"></ave-panelbar-item>
      </ave-panelbar-item>
    </ave-panelbar-item>
    <ave-panelbar-item class="v-panelbar-item-default" [title]="'2'"></ave-panelbar-item>
    <ave-panelbar-item class="v-panelbar-item-default" [title]="'3'"></ave-panelbar-item>
    <ave-panelbar-item class="v-panelbar-item-default" [title]="'4'"></ave-panelbar-item>
    <ave-panelbar-item class="v-panelbar-item-default" [title]="'5'"></ave-panelbar-item>
    <ave-panelbar-item class="v-panelbar-item-default" [title]="'6'"></ave-panelbar-item>
    <ave-panelbar-item class="v-panelbar-item-default" [title]="'7'"></ave-panelbar-item>
  </ave-panelbar>
</ave-panel>
