@import "../../core/core";
@import "button";


// Applies typography style to ave-button
@mixin ave-button-typography($theme) {
  // Typography.
  $type: 'control';
  $typography: map_get($theme, 'typography');

  $font-family: map_get($typography, 'font-family');
  $font-size: map_get($typography, 'font-size');
  $font-weight: map_get($typography, 'font-weight');
  $text-decoration: map_get($typography, 'text-decoration');

  font-family: map_get($font-family, $type);
  font-size: map_get($font-size, $type);
  font-weight: map_get($font-weight, $type);
  text-decoration: map_get($text-decoration, $type);
}

@mixin ave-button-sizing($theme) {
  // Sizing.
  $type: 'control';
  $sizing: map_get($theme, 'sizing');

  $margin: map_get($sizing, 'margin');
  $min-width: map_get($sizing, 'min-width');
  $padding: map_get($sizing, 'padding');
  $border: map_get($sizing, 'border');
  $border-radius: map_get($sizing, 'border-radius');

  margin: map_get($margin, $type);
  min-width: map_get($min-width, $type);
  padding: map_get($padding, $type);
  border: map_get($border, $type);
  border-radius: map_get($border-radius, $type);

}
@function ave-button-state-color($theme, $state: default) {
  $color: map_get($theme, color);
  @return map_get($color, $state);
}
@mixin ave-button-backcolor($theme) {
  //State
  $type: 'control';
  @each $state in $component-state {
    &.v-button-#{$state} {
      $color: ave-button-state-color($theme, $state);
      background-color: map_get($color, backcolor);
    }
  }
}

@mixin ave-button-fore-color($theme) {
  //Color


}

@mixin ave-button-theme($theme) {

  .v-button {
    @include ave-button-typography($theme);
    @include ave-button-sizing($theme);
    @include ave-button-backcolor($theme);
    @include ave-button-fore-color($theme);
  }
}
