/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
@import "variables";
@import "../lib/font-awesome-4.7.0/css/font-awesome.min.css";
@import "theme/avengers.common";

body, input, select {
  font-family: "Microsoft YaHei", SimSun, Tahoma, Arial;
  font-size: 1em;

}

body, html {
  height: 100%;
}

.v-theme-default {

}

ng-component {
  width: 100%;
}

