/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
@import "styles/core/variables";
@import "../lib/font-awesome-4.7.0/css/font-awesome.min.css";
@import "styles/core/utils";
@import "theming/prebuild/avengers.material";

body {
  font-size: $ave-body-font-size-base;
  font-family: $ave-font-family;
}

body, html {
  height: 100%;
}

.v-theme-default {

}

ng-component {
  width: 100%;
  height: 100%;
}

