$tabstrip-background-color: #002050;
$tabstrip-bar-background-color: #DFE2E8;
$tabstrip-bar-color: #FFFFFF;
$tabstrip-panel-background-color: #FFFFFF;
$tabstrip-panel-color: #1160B7;
$tabstrip-tab-background-color: #1160B7;
$tabstrip-tab-color: #FFFFFF;


