$component-background-color: #ffffff;


$bar-background-color: #0078d7;
$bar-item-background-color: #0078d7;
$bar-item-color: #ffffff;

$bar-item-hover-background-color: #006cc1;
$bar-item-hover-color: #ffffff;

$bar-item-active-background-color: #ffffff;
$bar-item-active-color: #000000;


$panel-background-color: #ffffff;
$panel-color: #000000;

$group-background-color: #0078d7;
$group-item-background-color: #005496;
$group-item-color: #ffffff;

$item-background-color: #0078d7;
$item-hover-background-color: #006cc1;
$item-active-background-color: #0060ac;
$item-color: #ffffff;
