.material-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  //margin-top: 1rem;
  //margin-bottom: 1rem;
}

.material-left-panel {
  height: 100%;
  overflow: auto;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #bdbdbd;

}

.material-right-panel {
  padding-top: 3rem;
  overflow: visible;

}

.material-panelbar {
  outline: none;
  .v-panelbar-header {
    border: none;
  }
}

.material-brand {
  display: block;
  position: relative;
  padding: 1rem;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #bdbdbd;
  img {
    width: 100%;
  }
}

.material-article-name {
  & > .v-panelbar-header {
    & > .v-arcylic-content {
      text-indent: 1em;
      font-size: 0.8em;
      font-weight: normal;
      cursor: pointer;
    }
  }
}

.material-category-name {
  & > .v-panelbar-header {
    & > .v-arcylic-content {
      font-size: 0.9rem;
      font-weight: bold;
    }
  }
  cursor: pointer;
}

.material-toolbar {
  top: 0;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 3rem;
  height: 3rem;
  background-color: indigo;
}

body {
  height: 100%;
}

.material-content {
  display: block;
  padding: 1rem;
}

.material-active-link {
  & > .v-panelbar-header {
    & > .v-arcylic-ground {
      background-color: #bdbdbd;
    }
  }
}
