<ave-panel class="container">
  <ave-panel class="left-panel">
    <a href="/demo" class="brand">
      <img src="../../../assets/material-design.svg" alt="material-design">
    </a>
    <ave-panelbar class="v-panelbar-default panelbar">
      <ave-panelbar-item [title]="'Material design'" class="category-name">
        <ave-panelbar-item routerLink="./material-design/introduction" routerLinkActive="true" [title]="'Introduction'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Environment'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Material properties'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Elevation & shadows'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'What’s new'" class="article-name"></ave-panelbar-item>
      </ave-panelbar-item>
      <ave-panelbar-item [title]="'Motion'">
        <ave-panelbar-item [title]="'Material motion'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Duration & easing'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Movement'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Transforming material'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Choreography'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Creative customization'" class="article-name"></ave-panelbar-item>
      </ave-panelbar-item>
      <ave-panelbar-item [title]="'Style'">
        <ave-panelbar-item [title]="'Color'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Icons'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Imagery'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Typography'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Writing'" class="article-name"></ave-panelbar-item>
      </ave-panelbar-item>
      <ave-panelbar-item [title]="'Layout'">
        <ave-panelbar-item [title]="'Principles'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Units & measurements'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Metrics & keylines'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Structure'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Responsive UI'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Split screen'" class="article-name"></ave-panelbar-item>
      </ave-panelbar-item>
      <ave-panelbar-item [title]="'Components'">
        <ave-panelbar-item [title]="'Bottom navigation'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Bottom sheets'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Buttons: Floating Action Button'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Cards'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Chips'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Data tables'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Dialogs'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Dividers'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Expansion panels'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Grid lists'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Lists'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Lists: Controls'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Menus'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Pickers'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Progress & activity'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Selection controls'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Sliders'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Snackbars & toasts'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Steppers'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Subheaders'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Tabs'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Text fields'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Toolbars'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Tooltips'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Widgets'" class="article-name"></ave-panelbar-item>
      </ave-panelbar-item>
      <ave-panelbar-item [title]="'Patterns'">
        <ave-panelbar-item [title]="'Confirmation & acknowledgement'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Data formats'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Empty states'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Errors'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Fingerprint'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Gestures'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Help & feedback'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Launch screens'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Loading images'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Navigation'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Navigation drawer'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Navigational transitions'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Notifications'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Permissions'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Scrolling techniques'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Search'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Selection '" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Settings '" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Swipe to refresh'" class="article-name"></ave-panelbar-item>

      </ave-panelbar-item>
      <ave-panelbar-item [title]="'Growth & communications'">
        <ave-panelbar-item [title]="'Introduction'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Onboarding'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Feature discovery'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Gesture education'" class="article-name"></ave-panelbar-item>
      </ave-panelbar-item>
      <ave-panelbar-item [title]="'Usability'">
        <ave-panelbar-item [title]="'Accessibility'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Bidirectionality'" class="article-name"></ave-panelbar-item>
      </ave-panelbar-item>
      <ave-panelbar-item [title]="'Platforms'">
        <ave-panelbar-item [title]="'Platform adaptation'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Android'" class="article-name"></ave-panelbar-item>
      </ave-panelbar-item>
      <ave-panelbar-item [title]="'Resources'">
        <ave-panelbar-item [title]="'Color palettes'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Devices'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Layout templates'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Roboto & Noto fonts'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Sticker sheets & icons'" class="article-name"></ave-panelbar-item>
        <ave-panelbar-item [title]="'Shadows'" class="article-name"></ave-panelbar-item>
      </ave-panelbar-item>
    </ave-panelbar>
  </ave-panel>
  <ave-panel class="right-panel">
    <ave-panel class="toolbar">
      <h1>Material Design</h1>
    </ave-panel>
    <ave-panel class="content">
      <router-outlet></router-outlet>
    </ave-panel>
  </ave-panel>
</ave-panel>


