.container {
  height: 100%;
  width: 100%;
}

.left-panel {
  overflow: auto;
}

.panelbar {
}

.right-panel {
  overflow: auto;
}

.brand {
  display: block;
  position: relative;
  justify-content: center;
  padding-bottom: 1em;
}

.article-name {
  & > .v-panelbar-header {
    & > .v-arcylic-content {
    text-indent: 1em;
    font-size: 0.8em;
    font-weight: normal;
    cursor: pointer;
  }
  }
}

.category-name {
  & > .v-panelbar-header {
    & > .v-arcylic-content {
      font-size: 0.9rem;
      font-weight: bold;
    }
  }
  cursor: pointer;
}

.toolbar {
  display: block;
  position: relative;
  top: 0;
  height: 3em;
}

.content {
  display: block;
  margin-top: 2em;
}
