@import "../../core/core";
@import "../../core/theming";


// Define a theme.

// Colors
$primary: ave-palette($ave-indigo);
$accent:  ave-palette($ave-red, A200, A100, A400);

// Typography.
$typography: ave-typography();

// Frame.
$size: ave-frame();

$theme: ave-light-theme($primary, $accent);

// Include all theme styles for the components.
@include avengers-theme($theme);
