@import "../../core/core";
@import "../../core/theming";
@import "typography";


// Define a theme.

// Colors
$primary-color: ave-palette($ave-indigo);
$accent-color:  ave-palette($ave-red, A200, A100, A400);

// Typography.
$primary-font: ave-typography($ave-typography-normal);

// Frame.
$primary-size: ave-frame();

$theme: ave-light-theme($primary-color, $accent-color);

// Include all theme styles for the components.
@include avengers-theme($theme);
