@import "../../core/core";
@import "../../core/theming";
@import "typography";
@import "frame";


// Define a theme.

// Colors
$primary-color: ave-palette($ave-indigo);
$accent-color:  ave-palette($ave-red, A200, A100, A400);

// Typography.
$typography: ave-typography($ave-typography-normal);

// Frame.
$frame: ave-frame($ave-frame-normal);

$theme: ave-theme($primary-color, $accent-color, $typography, $frame);

// Include all theme styles for the components.
@include avengers-theme-loader($theme);
