$ave-typography-normal: (
  base: (
    font-family: #{'\"'}#{Microsoft YaHei}#{'\"'}#{','} Roboto#{','} #{'\"'}#{Helvetica Neue}#{'\"'}#{','} sans-serif,
    font-size: 1.15em,
    text-underline: none
  ),
  control: (
    font-family: #{'\"'}#{Microsoft YaHei}#{'\"'}#{','} Roboto#{','} #{'\"'}#{Helvetica Neue}#{'\"'}#{','} sans-serif,
    font-size: 1em,
    text-underline: none
  ),
  link: (
    font-family: #{'\"'}#{Microsoft YaHei}#{'\"'}#{','} Roboto#{','} #{'\"'}#{Helvetica Neue}#{'\"'}#{','} sans-serif,
    font-size: 1em,
    text-underline: none
  )
);

@function ave-typography($base-typography, $type: base) {
  @return (
    map_get($base-typography, $type)
  );
}


.v-test {
  $type: 'control';

  $typo: ave-typography($ave-typography-normal, $type);

  font-family: map_get($typo, 'font-family');
  text-underline: map_get($typo, 'text-underline');
}
